footer{@include wrapper;margin-bottom: 70px;position: relative;z-index: 3;
    .footerWrapper{background-color: #fff;padding: 140px 150px;
        .footerData{display: flex;justify-content: space-between;align-items:center;
            .footerMenus{width: 30%;
                ul{list-style: none;display: flex;align-items: center;flex-wrap: wrap;justify-content: space-between;
                    li{width: 48%;margin-top: 18px;
                        &:nth-child(1), &:nth-child(2){margin-top: 0px}
                        a{@include font16;font-weight: $fontW400;letter-spacing: 0.8px;line-height: 1;color: #000;text-align: left;}
                    }
                }
            }
            .footerGame{width:27%;position: relative;
                .counterText{transition: 1.5s all ease-in-out;position: absolute;bottom: 60%;opacity: 0;
                    h3{@include font16; font-weight: $fontW400;line-height: 24px; text-align: center;width: 85%;margin: 0 auto;span{font-weight: $fontW600;}}
                }
                .newcounterText{bottom: 106%;transition: 1.5s all ease-in-out;opacity: 1;}
                #box .fanRotatediv svg.rotate {
                    transition: transform 8s cubic-bezier(0.9, 0.2, 0.6, 1);
                    transform: rotate(8640deg);
                    border-radius: 380px;
                    background:linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), conic-gradient(from 180deg at 50% 50%, #F00 0deg, #FAFF00 58.12499821186066deg, #05FB00 116.24999642372131deg, #00FFE0 185.625deg, #0029FF 247.5deg, #FF00D6 305.6249928474426deg, #F00 360deg);
                    .linesNew{display: none;}
                    .svgCurveLine{display: block;}
                    .innerCircleactive{filter: none;}
                    .innerCircleoneactive{fill: #fff;}
                }
                #box{ position: relative;margin: auto;width: 380px;height: 380px;
                    .fanRotatediv{animation: 2s linear infinite rotate-con;width: 380px;height: 380px;
                        svg{width: 380px;height: 380px;margin: auto;transition: none;
                            .linesNew{display: block;}
                            .svgCurveLine{display: none;}
                        }
                    }
                    
                    &.boxTwo{animation: none;}
                    .middleCircle{position: absolute;height: 100px;width: 100px;left: 0;right: 0;top: 0;bottom: 0;margin: auto;border-radius: 50%;background: #fff;display: flex;align-items: center;justify-content: center;cursor: pointer;
                        &.middleCirclenew{.innerCircle{background: #fff;}height: 80px;width: 80px;}
                        &.box_Two{pointer-events:none;}  
                    }
                    .innerCircle{display: flex;align-items: center;justify-content: center;border-radius: 50%;height: 80px;width: 80px;background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), conic-gradient(from 180deg at 50% 50%, #F00 0deg, #FAFF00 58.12499821186066deg, #05FB00 116.24999642372131deg, #00FFE0 185.625deg, #0029FF 247.5deg, #FF00D6 305.6249928474426deg, #F00 360deg);;}
                }

                @keyframes rotate-con {
                    0% {transform: rotate(0deg);}
                    100% {transform: rotate(360deg);}
                }
            }
            .footerSubscribe{width: 30%;
                h2{@include font20; font-weight: $fontW600;line-height: 1;letter-spacing: -0.6px;}
                p{@include font16; font-weight: $fontW400;line-height: 1;margin: 10px 0px 22px;}
                .signup{border-radius: 6px;border: 1px solid  #000;background:  #FFF;padding: 3px 3px 3px 25px;display: inline-block;width: 100%;
                    form{display: flex;justify-content: space-between;
                        input[type=submit]{background-color: #000;color: #fff;padding: 14px 24px;border-radius: 6px;text-transform: uppercase;@include font14;font-weight: $fontW700;line-height: 1;letter-spacing: 0.7px;cursor: pointer;}
                        input[type=email]{width: 46%;color: #000;@include font14;font-weight: $fontW400;line-height: 1;
                            &::-webkit-input-placeholder {color: #000;}
                            &::-moz-placeholder {color: #000;}
                            &:-ms-input-placeholder { color: #000;}
                            &:-moz-placeholder {color: #000;}
                        }
                        .es-form-field-container{justify-content: space-between;
                            .gjs-row{
                                &:nth-child(2){width: 90%;padding-right: 25px;}
                            }
                        }
                        .es_spinner_image{display: none !important;}
                    }
                }
            }
        }
        .socialIcons{display: flex;align-items: flex-end;justify-content: space-between;
            .copyright{h4{@include font16; font-weight: $fontW400;line-height: 1;letter-spacing: 0.8px;}}
            .iconsDiv{text-align: left;width: 30%;
                h3{@include font20; font-weight: $fontW600;line-height: 1;letter-spacing: -0.6px;margin-bottom: 14px;}
                ul{display: flex;align-items: center;
                    li {margin-right: 15px;
                        &:last-child{margin-right: 0px;}
                        a{height: 36px;width: 36px;border-radius: 50%;background-color: #000;display: flex;align-items: center;justify-content: center;transition: 0.7s all ease-out;
                            svg{height: 18px;width: 18px;
                                path{fill: #fff;transition: 0.7s all ease-out;}
                                &.youtube{
                                    .blackCol{fill: #000;}
                                }
                            }
                            &:hover{transition: 0.7s all ease-out;
                                background-color: #fff;
                                border: 1px solid #000;
                                svg{
                                    path{fill: #000;transition: 0.7s all ease-out;}
                                    &.youtube{
                                        .blackCol{fill: #fff;transition: 0.7s all ease-out;}
                                    }
                                }
                            }
                        }   
                    }
                }
            }
        }
    }

    @media screen and (max-width:1600px) {
        margin-bottom: 60px;
        .footerWrapper{padding: 120px 130px;
            .footerData{
                .footerMenus{width: 28%;
                    ul{
                        li{margin-top: 16px;
                        }
                    }
                }
                .footerGame{width:30%;
                    .newcounterText{
                        h3{line-height: 21px;}
                    }
                    #box .fanRotatediv svg.rotate {
                        border-radius: 310px;
                    }
                    #box{width: 310px;height: 310px;
                        .fanRotatediv{width: 310px;height: 310px;
                            svg{width: 310px;height: 310px;}
                        }
                       .middleCircle{height: 80px;width: 80px;
                            &.middleCirclenew{height: 60px;width: 60px;}
                        }
                        .innerCircle{height: 60px;width: 60px;img{width: 30px;}}
                    }
                }
                
                .footerSubscribe{width: 32%;
                    p{margin: 10px 0px 20px;}
                    .signup{padding: 3px 3px 3px 20px;
                        form{
                            input[type=submit]{padding: 12px 20px;font-size: 12px;}
                            input[type=email]{width: 52%;}
                            .es-form-field-container{
                                .gjs-row{
                                    &:nth-child(2){padding-right: 20px;}
                                }
                            }
                        }
                    }
                }
            }
            .socialIcons{
                .iconsDiv{width: 32%;
                    h3{margin-bottom: 12px;}
                    ul{
                        li {margin-right: 12px;
                            a{height: 32px;width: 32px;}   
                        }
                    }
                }
            }
        }
    
    }
    @media screen and (max-width:1400px) {
        margin-bottom: 50px;
        .footerWrapper{padding: 100px;
            .footerData{
                .footerMenus{width: 32%;
                    ul{
                        li{margin-top: 14px;}
                    }
                }
                .footerGame{width:32%;
                    .newcounterText{bottom: 104%;}

                    #box .fanRotatediv svg.rotate {
                        border-radius: 290px;
                    }
                    #box{width: 290px;height: 290px;
                        .fanRotatediv{width: 290px;height: 290px;
                            svg{width: 290px;height: 290px;}
                        }
                       .middleCircle{height: 70px;width: 70px;
                            &.middleCirclenew{height: 50px;width: 50px;}
                        }
                        .innerCircle{height: 50px;width: 50px;img{width: 25px;}}
                    }
                }
                .footerSubscribe{
                    p{margin: 8px 0px 18px;}
                    .signup{padding: 3px 3px 3px 18px;
                        form{
                            input[type=submit]{padding: 10px 16px;}
                            input[type=email]{width: 56%;}
                            .es-form-field-container{
                                .gjs-row{
                                    &:nth-child(2){padding-right: 18px;}
                                }
                            }
                        }
                    }
                }
            }
            .socialIcons{
                .iconsDiv{
                    h3{margin-bottom: 10px;}
                    ul{
                        li {margin-right: 10px;
                            a{height: 30px;width: 30px;}   
                        }
                    }
                }
            }
        }
    
    }
    @media screen and (max-width:1280px) {
        margin-bottom: 40px;
        .footerWrapper{padding: 90px;
            .footerData{
                .footerMenus{
                    ul{
                        li{margin-top: 12px;}
                    }
                }
                .footerGame{width:30%;
                    .counterText{margin-bottom: 12px;width: 100%;}
                    .newcounterText{bottom: 99%;}

                    #box .fanRotatediv svg.rotate {
                        border-radius: 240px;
                    }
                    #box{width: 240px;height: 240px;
                        .fanRotatediv{width: 240px;height: 240px;
                            svg{width: 240px;height: 240px;}
                        }
                    }
                }
                .footerSubscribe{
                    p{margin: 8px 0px 16px;}
                    .signup{padding: 3px 3px 3px 18px;
                        form{
                            input[type=submit]{padding: 10px 14px;}
                            input[type=email]{width: 49%;}
                        }
                    }
                }
            }
            .socialIcons{
                .iconsDiv{
                    ul{
                        li {
                            a{height: 25px;width: 25px;img{width: 12px;}}   
                        }
                    }
                }
            }
        }
    
    }
    @media screen and (max-width:1024px) {
        .footerWrapper{padding: 40px 16px;
            .footerData{padding: 40px 0px 48px;display: block;
                .footerMenus{width: 100%;margin-bottom: 50px;
                    ul{justify-content: unset;
                        li{width: 40%;margin-top: 22px;
                            &:nth-child(1), &:nth-child(2){margin-top: 22px}
                        }
                    }
                }
                .footerGame{width:100%;margin: 120px 0px 60px;
                    .counterText{margin-bottom: 14px;width: 100%;}

                    #box .fanRotatediv svg.rotate {
                        border-radius: 280px;
                    }
                    #box{width: 280px;height: 280px;
                        .fanRotatediv{width: 280px;height: 280px;
                            svg{width: 280px;height: 280px;}
                        }
                        .middleCircle{height: 75px;width: 75px; 
                            &.middleCirclenew{height: 65px;width: 65px;}
                        }
                        .innerCircle{height: 65px;width: 65px;img{width: 30px;}}
                    }
                }
                .footerSubscribe{width: 100%;margin-top: 20px;
                    h2{text-align: center}
                    p{text-align: center;}
                    .signup{display: block;border: none;padding: 0;text-align: center   ;
                        form{display: block;
                            input[type=submit]{display: block;text-align: center;margin: 10px auto 0px;padding: 12px;}
                            input[type=email]{border-radius: 6px;border: 1px solid  #000;background:  #FFF;padding: 16px;width: 70%;display: block;margin: 0 auto;}
                            .es-form-field-container{display: block;
                                .gjs-row{
                                    &:nth-child(2){padding-right: 0px;width: 70%;margin: 0 auto !important;}
                                }
                            }
                        }
                    }
                }
            }
            .socialIcons{flex-flow: column-reverse;justify-content: center;align-items: center;
                .copyright{h4{width: 100%;}}
                .iconsDiv{text-align: center;width: 100%;margin-bottom: 40px;
                    h3{margin-bottom: 16px;}
                    ul{justify-content: center;
                        li {
                            a{height: 30px;width: 30px;img{width: 15px;}}   
                        }
                    }
                }
            }
        }
    }
    
    @media screen and (max-width:680px) {
        margin-bottom: 30px;
         .footerWrapper{
            .footerLogo{width: 60%;}
             .footerData{
                 .footerMenus{
                     ul{
                         li{width: 100%;
                            &:nth-child(1){margin-top: 0px;}
                             a{font-size: 14px;line-height: 1;}
                         }
                     }
                 }
                 .footerGame{
                    #box{overflow: hidden;}
                }
                 .footerSubscribe{
                     h2{font-size: 14px;letter-spacing: -0.48px;}
                     p{font-size: 14px;margin: 10px 0px 24px;}
                     .signup{
                         form{
                             input[type=submit]{width: 100%;line-height: 18px;}
                             input[type=email]{width: 100%;font-size: 14px;}
                             .es-form-field-container{
                                .gjs-row{
                                    &:nth-child(2){width: 100%;}
                                }
                            }
                         }
                     }
                 }
             }
             .socialIcons{
                 .copyright{h4{text-align: center;line-height: 16px;}}
                 .iconsDiv{
                     h3{font-size: 16px;}
                     ul{
                         li {margin-right: 15px;
                             a{height: 30px;width: 30px;img{width: 15px;}}   
                         }
                     }
                 }
             }
         }
     }
}