.aboutus-bannerSec{
    .content-div{.banner-heading{width: 100% !important}.banner-subheading{width: 80%;}}

    @media all and (max-width:680px){
        .content-div{padding: 100px 0px 60px 0px;
            .banner-subheading{width: 100%;}
        }
    }
}
.animation-sec{@include wrapper;margin-bottom:400px;
    // .heading-content{margin-bottom: 140px;padding:0px 150px;width:70%;
    //     .main-heading{font-family: $fontpoppins;@include font64;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height: 115.625%;letter-spacing: -1.92px;margin-bottom: 34px;}
    //     .subheading{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #6A6A6A);line-height: 141.667%;}
    // }
    .animation-Div{position:relative;padding-top:170px;@include wrapper;background: linear-gradient(176deg, #F00 0%, #FAFF00 16.05%, #05FB00 32.1%, #00FFE0 51.25%, #0029FF 68.33%, #FF00D6 84.38%, #F00 99.39%);background-size: 400% 400%;
        -webkit-animation: ani 15s ease infinite;
        -moz-animation: ani 15s ease infinite;
        animation: ani 15s ease infinite;
        @-webkit-keyframes ani {
          0%{background-position:0% 0%}
          50%{background-position:50% 100%}
          100%{background-position:50% 0%} 
        }
       @-moz-keyframes ani {
          0%{background-position:0% 0%}
          50%{background-position:50% 100%}
          100%{background-position:50% 0%}
       }
       @keyframes ani { 
          0%{background-position:0% 0%}
          50%{background-position:50% 100%}
          100%{background-position:50% 0%}
       }
        .backdrop{position: absolute;left:0;right:0;top:0;bottom:0;width: 100%;height: 100%;backdrop-filter: blur(250px);-webkit-backdrop-filter: blur(250px);background-color: rgba(255, 255, 255, 0.5);}
        .first-fold{display: flex;align-items: center;justify-content: space-between;z-index:1;position:relative;margin-bottom:110px;
            .firstfoldanimation{width: 55%;}
            .firstfoldanimation-mbl{display: none;}
            .firstfold-content{width: 35%;
                h2{font-family: $fontpoppins;@include font64;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height:115.625%;letter-spacing: -1.92px;margin-bottom: 48px;}
                p{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #000);line-height:141.667%;}
            }
        }
        .second-fold{z-index:1;position:relative;margin-bottom: 200px;}
        .secondfoldanimation-mbl{display: none;}
        .third-fold{z-index:1;position:relative;margin-bottom: 160px;display:flex;justify-content:space-between;
            .third-fold-content{position: absolute;left:60px;width:30%;
                h2{font-family: $fontpoppins;@include font64;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height:115.625%;letter-spacing: -1.92px;margin-bottom: 48px;}
                p{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #000);line-height: 141.667%;}
            }
            .third-fold-anime{width: 75%;margin-left: auto;}
            .thirdfoldanimation-mbl{display: none;}
        }
        .fourth-fold{z-index:1;position:relative;margin-bottom: 260px;
            .fourth-fold-content{position: absolute;right:0;top:62%;width:35%;
                h2{font-family: $fontpoppins;@include font64;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height:115.625%;letter-spacing: -1.92px;margin-bottom: 48px;}
                p{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #000);line-height: 141.667%;}
            }
            .fourthfoldanimation-mbl{display: none;}
        }
        .fifth-fold{z-index:1;position:relative;display:block;overflow: hidden;
            .fifth-fold-content{margin-bottom: 70px;display:flex;flex-direction: column;align-items:center;
                h2{font-family: $fontpoppins;@include font96;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height: 110.417%;letter-spacing: -2.88px;margin-bottom: 48px;width: 75%;text-align: center;}
                p{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #000);line-height: 141.667%;width: 65%;text-align: center;}
            }
            svg{margin-bottom: -6px;}
            .fifthfoldanimation-mbl{display: none;}
        }
    }
    @media all and (max-width:1800px){margin-bottom:350px;
        // .heading-content{margin-bottom: 120px;padding:0px 130px;
        //     .main-heading{margin-bottom: 32px;}
        // }
        .animation-Div{padding-top:150px;
            .first-fold{margin-bottom:100px;
                .firstfoldanimation{width: 55%;}
                .firstfold-content{width: 35%;
                    h2{margin-bottom: 45px;}

                }
            }
            .second-fold{margin-bottom: 180px;}
            .third-fold{margin-bottom: 150px;
                .third-fold-content{left:50px;width:30%;
                    h2{margin-bottom: 45px;}

                }
                .third-fold-anime{width: 75%;}
            }
            .fourth-fold{margin-bottom: 250px;
                .fourth-fold-content{right:0;top:65%;width:35%;
                    h2{margin-bottom: 45px;}
                }
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 68px;
                    h2{letter-spacing: -2px;margin-bottom: 45px;width: 75%;}
                    p{width: 65%;}
                }
            }
        }
    }
    @media all and (max-width:1600px){margin-bottom:300px;
        // .heading-content{margin-bottom: 120px;padding:0px 130px;
        //     .main-heading{margin-bottom: 32px;}
        // }
        .animation-Div{padding-top:140px;
            .first-fold{margin-bottom:90px;
                .firstfoldanimation{width: 55%;}
                .firstfold-content{width: 35%;
                    h2{margin-bottom: 40px;}
                }
            }
            .second-fold{margin-bottom: 160px;}
            .third-fold{margin-bottom: 140px;
                .third-fold-content{left:50px;width:30%;
                    h2{margin-bottom: 40px;}
                }
                .third-fold-anime{width: 75%;}
            }
            .fourth-fold{margin-bottom: 240px;
                .fourth-fold-content{right:0;top:65%;width:35%;
                    h2{margin-bottom: 40px;}
                }
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 65px;
                    h2{margin-bottom: 40px;width: 90%;}
                    p{width: 65%;}
                }
            }
        }
    }
    @media all and (max-width:1400px){margin-bottom:250px;
        // .heading-content{margin-bottom: 120px;padding:0px 120px;
        //     .main-heading{margin-bottom: 30px;}
        // }
        .animation-Div{padding-top:120px;
            .first-fold{margin-bottom:80px;
                .firstfoldanimation{width: 55%;}
                .firstfold-content{width: 35%;
                    h2{margin-bottom: 30px;}
                }
            }
            .second-fold{margin-bottom: 140px;}
            .third-fold{margin-bottom: 120px;
                .third-fold-content{left:50px;width:30%;
                    h2{margin-bottom: 30px;}
                }
                .third-fold-anime{width: 75%;}
            }
            .fourth-fold{margin-bottom: 200px;
                .fourth-fold-content{right:0;top:65%;width:35%;
                    h2{margin-bottom: 30px;}
                }
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 60px;
                    h2{margin-bottom: 30px;width: 90%;}
                    p{width: 65%;}
                }
            }
        }
    }
    @media all and (max-width:1200px){margin-bottom:200px;
        // .heading-content{margin-bottom: 110px;
        //     .main-heading{margin-bottom: 28px;}
        // }
        .animation-Div{padding-top:100px;
            .first-fold{margin-bottom:60px;
                .firstfoldanimation{width: 55%;}
                .firstfold-content{width: 35%;
                    h2{margin-bottom: 26px;}
                }
            }
            .second-fold{margin-bottom: 120px;}
            .third-fold{margin-bottom: 100px;
                .third-fold-content{left:50px;width:30%;
                    h2{margin-bottom: 26px;}
                }
                .third-fold-anime{width: 75%;}
            }
            .fourth-fold{margin-bottom: 180px;
                .fourth-fold-content{right:0;top:65%;width:35%;
                    h2{margin-bottom: 26px;}
                }
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 50px;
                    h2{margin-bottom: 25px;width: 90%;}
                    p{width: 65%;}
                }
            }
        }
    }
    @media all and (max-width:1024px){margin-bottom:150px;
        // .heading-content{margin-bottom: 100px;padding:0px;width:100%;
        //     .main-heading{margin-bottom: 24px;width: 90%;}
        //     .subheading{width: 90%;}
        // }
        .animation-Div{padding-top:100px;
            .first-fold{margin-bottom:0px;flex-direction:column;
                .firstfoldanimation{display: none;}
                .firstfoldanimation-mbl{display: block;order: 2;width: 100%;}
                .firstfold-content{width: 100%;order:1;margin-bottom:50px;text-align:center;
                    h2{margin-bottom: 26px;}
                }
            }
            .second-fold{margin-bottom: 80px;
                .second-fold-anime{display: none;}
                .secondfoldanimation-mbl{display: block;}
            }
            .third-fold{margin-bottom: 50px;flex-direction: column;
                .third-fold-content{width:100%;position:unset;margin-bottom:40px;text-align:center;order:2;
                    h2{margin-bottom: 26px;}
                }
                .third-fold-anime{display: none;}
                .thirdfoldanimation-mbl{display: block;order: 1;}
            }
            .fourth-fold{margin-bottom: 80px;display:flex;flex-direction:column;
                .fourth-fold-content{width:100%;position:unset;margin-bottom:100px;text-align:center;order:2;
                    h2{margin-bottom: 26px;}
                }
                .fourth-fold-anime{display: none;}
                .fourthfoldanimation-mbl{display: block;order: 1;}
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 40px;
                    h2{margin-bottom: 25px;width: 90%;}
                    p{width: 80%;}
                }
                .fifth-fold-anime{display: none;}
                .fifthfoldanimation-mbl{display: block;}
            }
        }
    }
    @media all and (max-width:680px){margin-bottom:100px;padding:0px;
        // .heading-content{margin-bottom: 80px;padding:0px 20px;
        //     .main-heading{margin-bottom: 10px;width: 100%;font-size: 30px;font-weight: 500;line-height: 30px;letter-spacing: -0.9px;}
        //     .subheading{width: 100%;font-size: 14px;font-weight: 400;line-height: 24px;text-transform: capitalize;}
        // }
        .animation-Div{padding:35px 0px 0px 0px;
            .first-fold{margin-bottom:0px;flex-direction:column;
                .firstfoldanimation{display: none;}
                .firstfoldanimation-mbl{display: block;order: 1;width: 100%;margin-bottom: 32px;}
                .firstfold-content{margin-bottom:30px;padding:0px 20px;order:2;width:100%;text-align:center;
                    h2{font-size: 24px;font-weight: 500;line-height: 34px;letter-spacing: 0px;margin-bottom: 10px;}
                    p{font-size: 14px;font-weight: 400;line-height: 24px;}
                }
            }
            .second-fold{margin-bottom: 46px;
                .second-fold-anime{display: none;}
                .secondfoldanimation-mbl{display: block;}
            }
            .third-fold{margin-bottom: 20px;flex-direction: column;
                .third-fold-content{padding:0px 20px;order:2;width:100%;text-align:center;position:unset;
                    h2{font-size: 24px;font-weight: 500;line-height: 34px;letter-spacing: 0px;margin-bottom: 10px;}
                    p{font-size: 14px;font-weight: 400;line-height: 24px;}
                }
                .third-fold-anime{display: none;}
                .thirdfoldanimation-mbl{display: block;order: 1;margin-bottom: 32px;width: 100%;}
            }
            .fourth-fold{margin-bottom: 50px;display:flex;flex-direction:column;
                .fourth-fold-content{padding:0px 20px;order:2;width:100%;text-align:center;position:unset;
                    h2{font-size: 24px;font-weight: 500;line-height: 34px;letter-spacing: 0px;margin-bottom: 10px;}
                    p{font-size: 14px;font-weight: 400;line-height: 24px;}
                }
                .fourth-fold-anime{display: none;}
                .fourthfoldanimation-mbl{display: block;order: 1;margin-bottom: 32px;}
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 0px;padding:0px 20px;width:100%;text-align:center;
                    h2{font-size: 24px;margin-bottom: 22px;font-weight: 500;line-height: 34px;letter-spacing: 0px;width: 100%;}
                    p{font-size: 14px;font-weight: 400;line-height: 24px;width: 100%;}
                }
                .fifth-fold-anime{display: none;}
                .fifthfoldanimation-mbl{display: block;}
            }
        }
    }
}
.aboutus-researchSec{margin-bottom:250px;@include wrapper;overflow: hidden;
    .heading-content{margin-bottom: 140px;padding:0px 150px;
        .main-heading{font-family: $fontpoppins;@include font64;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height: 115.625%;letter-spacing: -1.92px;margin-bottom: 34px;}
        .subheading{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #6A6A6A);line-height: 141.667%;}
    }
    .researchsec-wrapper{position: relative;margin-bottom:150px;padding:150px 150px 0px 150px;display:flex;justify-content:end;
        &:nth-child(odd){justify-content: start;}
        &:nth-child(even){.img-div{.slick-dots{left: 150px;}}}
        .img-div{height:calc(100% - 150px);position:absolute;left:0;top:0;right:0;width:100%;
            img{object-fit: cover;width: 100%;height: 100%;}
            .mobile-img{display: none;}
        }
        .research-card-type{position: relative;background: var(--primary-white, #FFF);padding: 80px;width:580px;min-height:722px;z-index:2;
            .research-card-subheading{margin-bottom: 30px;color: var(--primary-black, #000);font-family: $fontpoppins;@include font20;font-weight: $fontW600;line-height: 150%;text-transform: uppercase;}
            .research-card-mainheading{margin-bottom: 48px;color: var(--primary-black, #000);font-family: $fontpoppins;@include font30;font-weight: $fontW500;line-height: 133.333%;letter-spacing: -0.9px;}
            .research-card-content{color: var(--body-copy, #6A6A6A);font-family: $fontpoppins;@include font20;font-weight: $fontW500;line-height: 150%;letter-spacing: 0.6px;margin-bottom: 48px;}
        }
    }
    // ----------------------------------------media queries-----------------------------------------------//    
    @media all and (max-width:1800px){margin-bottom:220px;
        .heading-content{margin-bottom: 130px;padding:0px 140px;
            .main-heading{margin-bottom: 34px;}
        }
        .researchsec-wrapper{margin-bottom:220px;
            .img-div{height:calc(100% - 130px);
                // .slick-dots{width: 18px;
                //     li{width: 10px;height: 10px;
                //         button{
                //             &::before{width: 10px;height: 10px;}
                //         }
                //     }
                //     li.slick-active{
                //         button{
                //             &::before{height: 60px;}
                //         }
                //     }
                // }
            }
            .research-card-type{padding: 75px;
                .research-card-subheading{margin-bottom: 30px;}
                .research-card-mainheading{margin-bottom: 48px;}
            }
        }
    }
    @media all and (max-width:1600px){margin-bottom:200px;
        .heading-content{margin-bottom: 120px;padding:0px 130px;
            .main-heading{margin-bottom: 32px;}
        }
        .researchsec-wrapper{margin-bottom:200px;
            .img-div{height:calc(100% - 120px);
                // .slick-dots{width: 16px;
                //     li{width: 8px;height: 8px;margin-bottom:16px;
                //         button{
                //             &::before{width: 8px;height: 8px;}
                //         }
                //     }
                //     li.slick-active{margin-bottom: 65px;
                //         button{
                //             &::before{height: 50px;}
                //         }
                //     }
                // }
            }
            .research-card-type{padding: 65px;width:440px;min-height:600px;
                .research-card-subheading{margin-bottom: 28px;}
                .research-card-mainheading{margin-bottom: 40px;}
                .research-card-content{margin-bottom: 40px;}
            }
        }
    }
    @media all and (max-width:1440px){
        margin-bottom:180px;
        .heading-content{margin-bottom: 120px;padding:0px 120px;
            .main-heading{margin-bottom: 30px;}
        }
        .researchsec-wrapper{margin-bottom:180px;
            .img-div{height:calc(100% - 100px);
                // .slick-dots{width: 14px;
                //     li{width: 7px;height: 7px;margin-bottom:14px;
                //         button{
                //             &::before{width: 7px;height: 7px;}
                //         }
                //     }
                //     li.slick-active{margin-bottom: 50px;
                //         button{
                //             &::before{height: 40px;}
                //         }
                //     }
                // }
            }
            .research-card-type{padding: 55px;min-height:500px;width:420px;
                .research-card-subheading{margin-bottom: 24px;}
                .research-card-mainheading{margin-bottom: 36px;}
                .research-card-content{margin-bottom: 36px;}
            }
        }
    }
    @media all and (max-width:1400px){
        .researchsec-wrapper{
            .research-card-type{min-height:480px;width:400px;}
        }
    }
    @media all and (max-width:1366px){
        .researchsec-wrapper{
            .research-card-type{padding: 50px;min-height:460px;width:380px;}
        }
    }
    @media all and (max-width:1200px){
        margin-bottom:150px;
        .heading-content{margin-bottom: 110px;
            .main-heading{margin-bottom: 28px;}
        }
        .researchsec-wrapper{margin-bottom:160px;
            .img-div{height:calc(100% - 90px);
            }
            .research-card-type{padding: 45px;width:370px;min-height:450px;
                .research-card-subheading{margin-bottom: 22px;}
                .research-card-mainheading{margin-bottom: 32px;}
                .research-card-content{margin-bottom: 32px;}
            }
        }
    }
    @media all and (max-width:1024px){
        margin-bottom:180px;
        .heading-content{margin-bottom: 100px;padding:0px;
            .main-heading{margin-bottom: 20px;width: 90%;}
            .subheading{width: 90%;}
        }
        .researchsec-wrapper{position: relative;margin-bottom:80px;flex-direction: column;padding:0px;
            .img-div{height:auto;position: relative;margin-bottom:0px;
                // .slick-dots{bottom: 0px;margin: 0 auto;}
            }
            &:nth-child(odd){.img-div{.slick-dots{right: 50%;left: 50%;}}}
            &:nth-child(even){.img-div{.slick-dots{left: 50%;right: 50%;}}}
            .research-card-type{@include wrapper;padding-bottom:60px;padding-top: 50px;width:auto;min-height:unset;
                .research-card-subheading{margin-bottom:20px;}
                .research-card-mainheading{margin-bottom:20px;}
                .research-card-content{margin-bottom: 20px;}
            }
        }
    }
    @media all and (max-width:821px){
        margin-bottom:150px;padding:0px;
        .heading-content{@include wrapper;}
        .researchsec-wrapper{margin-bottom:54px;padding:0px;@include wrapper;
            .img-div{
                .mobile-img{display: block;}
                .desktop-img{display: none;}
            }
            .research-card-type{padding-bottom:55px;padding-top: 36px;width:auto;
                .research-card-subheading{margin-bottom:20px;font-size: 12px;font-weight: 700;line-height: 22px;}
                .research-card-mainheading{margin-bottom:20px;font-size: 20px;font-weight: 500;line-height: 28px;letter-spacing: 0px;}
                .research-card-content{font-size: 14px;font-weight: 400;line-height: 24px;margin-bottom: 20px;}
            }
        }
    }
    @media all and (max-width:680px){margin-bottom: 40px !important;
        .heading-content{margin-bottom: 80px;
            .main-heading{margin-bottom: 20px;width: 100%;font-size: 24px;font-weight: 500;line-height: 34px;letter-spacing: 0px;}
            .subheading{width: 100%;font-size: 14px;font-weight: 400;line-height: 24px;text-transform: capitalize;}
        }
        .researchsec-wrapper{padding: 0px;
        }
    }
}
.aboutUs-collaborate{margin-bottom: 400px !important;
    @media all and (max-width:1800px){margin-bottom: 350px !important;}
    @media all and (max-width:1600px){margin-bottom: 300px !important;
        .collaborate-wrapper{
            .left-content{width: 50% !important;}
                .middle-content{width: 25% !important;}
                .right-content{width: 25% !important;}
        }
    }
    @media all and (max-width:1400px){margin-bottom: 250px !important;}
    @media all and (max-width:1200px){margin-bottom: 200px !important;}
    @media all and (max-width:1024px){margin-bottom: 150px !important;
        .collaborate-wrapper{
            .left-content{width: 100% !important;}
            .middle-content{width: 100% !important;}
            .right-content{width: 100% !important;}
        }
    }
    @media all and (max-width:680px){margin-bottom: 30px !important;}
}

 