.aboutus-bannerSec{
    .content-div{.banner-heading{width: 100% !important}.banner-subheading{width: 80%;}}
    @media all and (max-width:680px){
        .content-div{padding: 100px 0px 160px 0px;
            .banner-subheading{width: 100%}
            .banner-subheading{width: 100%}
        }
    }
}
.animation-sec{@include wrapper;margin-bottom:400px;
    .heading-content{margin-bottom: 140px;padding:0px 150px;
        .main-heading{font-family: $fontpoppins;@include font64;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height: 74px;letter-spacing: -1.92px;margin-bottom: 34px;}
        .subheading{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #6A6A6A);line-height: 34px;}
    }
    .animation-Div{position:relative;padding-top:170px;@include wrapper;background: linear-gradient(176deg, #F00 0%, #FAFF00 16.05%, #05FB00 32.1%, #00FFE0 51.25%, #0029FF 68.33%, #FF00D6 84.38%, #F00 99.39%);background-size: 400% 400%;
        -webkit-animation: ani 15s ease infinite;
        -moz-animation: ani 15s ease infinite;
        animation: ani 15s ease infinite;
        @-webkit-keyframes ani {
          0%{background-position:0% 0%}
          50%{background-position:50% 100%}
          100%{background-position:50% 0%} 
        }
       @-moz-keyframes ani {
          0%{background-position:0% 0%}
          50%{background-position:50% 100%}
          100%{background-position:50% 0%}
       }
       @keyframes ani { 
          0%{background-position:0% 0%}
          50%{background-position:50% 100%}
          100%{background-position:50% 0%}
       }
        .backdrop{position: absolute;left:0;right:0;top:0;bottom:0;width: 100%;height: 100%;backdrop-filter: blur(250px);-webkit-backdrop-filter: blur(250px);background-color: rgba(255, 255, 255, 0.5);}
        .first-fold{display: flex;align-items: center;justify-content: space-between;z-index:1;position:relative;margin-bottom:110px;
            .firstfoldanimation{width: 55%;}
            .firstfoldanimation-mbl{display: none;}
            .firstfold-content{width: 35%;
                h2{font-family: $fontpoppins;@include font64;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height: 74px;letter-spacing: -1.92px;margin-bottom: 48px;}
                p{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #000);line-height: 34px;}
            }
        }
        .second-fold{z-index:1;position:relative;margin-bottom: 200px;}
        .secondfoldanimation-mbl{display: none;}
        .third-fold{z-index:1;position:relative;margin-bottom: 160px;display:flex;justify-content:space-between;
            .third-fold-content{position: absolute;left:60px;width:30%;
                h2{font-family: $fontpoppins;@include font64;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height: 74px;letter-spacing: -1.92px;margin-bottom: 48px;}
                p{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #000);line-height: 34px;}
            }
            .third-fold-anime{width: 75%;margin-left: auto;}
            .thirdfoldanimation-mbl{display: none;}
        }
        .fourth-fold{z-index:1;position:relative;margin-bottom: 260px;
            .fourth-fold-content{position: absolute;right:0;top:65%;width:35%;
                h2{font-family: $fontpoppins;@include font64;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height: 74px;letter-spacing: -1.92px;margin-bottom: 48px;}
                p{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #000);line-height: 34px;}
            }
            .fourthfoldanimation-mbl{display: none;}
        }
        .fifth-fold{z-index:1;position:relative;display:block;
            .fifth-fold-content{margin-bottom: 70px;display:flex;flex-direction: column;align-items:center;
                h2{font-family: $fontpoppins;@include font96;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height: 106px;letter-spacing: -2.88px;margin-bottom: 48px;width: 75%;text-align: center;}
                p{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #000);line-height: 34px;width: 65%;text-align: center;}
            }
            .fifthfoldanimation-mbl{display: none;}
        }
    }
    @media all and (max-width:1800px){margin-bottom:350px;
        .heading-content{margin-bottom: 120px;padding:0px 130px;
            .main-heading{line-height: 70px;margin-bottom: 32px;}
            .subheading{line-height: 32px;}
        }
        .animation-Div{padding-top:150px;
            .first-fold{margin-bottom:100px;
                .firstfoldanimation{width: 55%;}
                .firstfold-content{width: 35%;
                    h2{line-height: 72px;margin-bottom: 45px;}
                    p{line-height: 32px;}
                }
            }
            .second-fold{margin-bottom: 180px;}
            .third-fold{margin-bottom: 150px;
                .third-fold-content{left:50px;width:30%;
                    h2{line-height: 72px;margin-bottom: 45px;}
                    p{line-height: 32px;}
                }
                .third-fold-anime{width: 75%;}
            }
            .fourth-fold{margin-bottom: 250px;
                .fourth-fold-content{right:0;top:65%;width:35%;
                    h2{line-height: 72px;margin-bottom: 45px;}
                    p{line-height: 32px;}
                }
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 68px;
                    h2{line-height: 100px;letter-spacing: -2px;margin-bottom: 45px;width: 75%;}
                    p{line-height: 32px;width: 65%;}
                }
            }
        }
    }
    @media all and (max-width:1600px){margin-bottom:300px;
        .heading-content{margin-bottom: 120px;padding:0px 130px;
            .main-heading{line-height: 70px;margin-bottom: 32px;}
            .subheading{line-height: 32px;}
        }
        .animation-Div{padding-top:140px;
            .first-fold{margin-bottom:90px;
                .firstfoldanimation{width: 55%;}
                .firstfold-content{width: 35%;
                    h2{line-height: 70px;margin-bottom: 40px;}
                    p{line-height: 30px;}
                }
            }
            .second-fold{margin-bottom: 160px;}
            .third-fold{margin-bottom: 140px;
                .third-fold-content{left:50px;width:30%;
                    h2{line-height: 70px;margin-bottom: 40px;}
                    p{line-height: 30px;}
                }
                .third-fold-anime{width: 75%;}
            }
            .fourth-fold{margin-bottom: 240px;
                .fourth-fold-content{right:0;top:65%;width:35%;
                    h2{line-height: 70px;margin-bottom: 40px;}
                    p{line-height: 30px;}
                }
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 65px;
                    h2{line-height: 96px;margin-bottom: 40px;width: 90%;}
                    p{line-height: 30px;width: 65%;}
                }
            }
        }
    }
    @media all and (max-width:1400px){margin-bottom:250px;
        .heading-content{margin-bottom: 120px;padding:0px 120px;
            .main-heading{line-height: 65px;margin-bottom: 30px;}
            .subheading{line-height: 30px;}
        }
        .animation-Div{padding-top:120px;
            .first-fold{margin-bottom:80px;
                .firstfoldanimation{width: 55%;}
                .firstfold-content{width: 35%;
                    h2{line-height: 60px;margin-bottom: 30px;}
                    p{line-height: 24px;}
                }
            }
            .second-fold{margin-bottom: 140px;}
            .third-fold{margin-bottom: 120px;
                .third-fold-content{left:50px;width:30%;
                    h2{line-height: 60px;margin-bottom: 30px;}
                    p{line-height: 24px;}
                }
                .third-fold-anime{width: 75%;}
            }
            .fourth-fold{margin-bottom: 200px;
                .fourth-fold-content{right:0;top:65%;width:35%;
                    h2{line-height: 60px;margin-bottom: 30px;}
                    p{line-height: 24px;}
                }
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 60px;
                    h2{line-height: 80px;margin-bottom: 30px;width: 90%;}
                    p{line-height: 24px;width: 65%;}
                }
            }
        }
    }
    @media all and (max-width:1200px){margin-bottom:200px;
        .heading-content{margin-bottom: 110px;
            .main-heading{line-height: 56px;margin-bottom: 28px;}
            .subheading{line-height: 28px;}
        }
        .animation-Div{padding-top:100px;
            .first-fold{margin-bottom:60px;
                .firstfoldanimation{width: 55%;}
                .firstfold-content{width: 35%;
                    h2{line-height: 56px;margin-bottom: 26px;}
                    p{line-height: 22px;}
                }
            }
            .second-fold{margin-bottom: 120px;}
            .third-fold{margin-bottom: 100px;
                .third-fold-content{left:50px;width:30%;
                    h2{line-height: 56px;margin-bottom: 26px;}
                    p{line-height: 22px;}
                }
                .third-fold-anime{width: 75%;}
            }
            .fourth-fold{margin-bottom: 180px;
                .fourth-fold-content{right:0;top:65%;width:35%;
                    h2{line-height: 56px;margin-bottom: 26px;}
                    p{line-height: 22px;}
                }
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 50px;
                    h2{line-height: 75px;margin-bottom: 25px;width: 90%;}
                    p{line-height: 22px;width: 65%;}
                }
            }
        }
    }
    @media all and (max-width:1024px){margin-bottom:150px;
        .heading-content{margin-bottom: 100px;padding:0px;
            .main-heading{line-height: 48px;margin-bottom: 24px;width: 90%;}
            .subheading{line-height: 24px;width: 90%;}
        }
        .animation-Div{padding-top:100px;
            .first-fold{margin-bottom:0px;flex-direction:column;
                .firstfoldanimation{display: none;}
                .firstfoldanimation-mbl{display: block;order: 2;width: 100%;}
                .firstfold-content{width: 100%;order:1;margin-bottom:50px;
                    h2{line-height: 56px;margin-bottom: 26px;}
                    p{line-height: 22px;}
                }
            }
            .second-fold{margin-bottom: 60px;
                .second-fold-anime{display: none;}
                .secondfoldanimation-mbl{display: block;}
            }
            .third-fold{margin-bottom: 30px;display:block;
                .third-fold-content{width:100%;position:unset;margin-bottom:40px;
                    h2{line-height: 56px;margin-bottom: 26px;}
                    p{line-height: 22px;}
                }
                .third-fold-anime{display: none;}
                .thirdfoldanimation-mbl{display: block;}
            }
            .fourth-fold{margin-bottom: 180px;
                .fourth-fold-content{width:100%;position:unset;margin-bottom:100px;
                    h2{line-height: 56px;margin-bottom: 26px;}
                    p{line-height: 22px;}
                }
                .fourth-fold-anime{display: none;}
                .fourthfoldanimation-mbl{display: block;}
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 40px;
                    h2{line-height: 75px;margin-bottom: 25px;width: 80%;}
                    p{line-height: 22px;width: 70%;}
                }
                .fifth-fold-anime{display: none;}
                .fifthfoldanimation-mbl{display: block;}
            }
        }
    }
    @media all and (max-width:680px){margin-bottom:100px;padding:0px;
        .heading-content{margin-bottom: 80px;padding:0px 20px;
            .main-heading{margin-bottom: 10px;width: 100%;font-size: 30px;font-weight: 500;line-height: 30px;letter-spacing: -0.9px;}
            .subheading{width: 100%;font-size: 14px;font-weight: 400;line-height: 24px;text-transform: capitalize;}
        }
        .animation-Div{padding:35px 0px 0px 0px;
            .first-fold{margin-bottom:30px;
                .firstfold-content{margin-bottom:50px;padding:0px 20px;
                    h2{font-size: 30px;font-weight: 500;line-height: 40px;letter-spacing: -0.9px;margin-bottom: 10px;}
                    p{font-size: 14px;font-weight: 400;line-height: 24px;}
                }
            }
            .second-fold{margin-bottom: 50px;}
            .third-fold{margin-bottom: 20px;
                .third-fold-content{margin-bottom:20px;padding:0px 20px;
                    h2{font-size: 30px;font-weight: 500;line-height: 40px;letter-spacing: -0.9px;margin-bottom: 10px;}
                    p{font-size: 14px;font-weight: 400;line-height: 24px;}
                }
                .third-fold-anime{width: 100%;}
            }
            .fourth-fold{margin-bottom: 10px;
                .fourth-fold-content{margin-bottom:86px;padding:0px 20px;
                    h2{font-size: 30px;font-weight: 500;line-height: 40px;letter-spacing: -0.9px;margin-bottom: 10px;}
                    p{font-size: 14px;font-weight: 400;line-height: 24px;}
                }
            }
            .fifth-fold{
                .fifth-fold-content{margin-bottom: 0px;padding:0px 20px;
                    h2{font-size: 30px;margin-bottom: 22px;font-weight: 500;line-height: 40px;letter-spacing: -0.9px;}
                    p{font-size: 14px;font-weight: 400;line-height: 24px;width: 80%;}
                }
            }
        }
    }
}
.aboutus-researchSec{margin-bottom:250px;@include wrapper;
    .heading-content{margin-bottom: 140px;padding:0px 150px;
        .main-heading{font-family: $fontpoppins;@include font64;font-weight: $fontW500;color: var(--Primary-Black, #000);line-height: 74px;letter-spacing: -1.92px;margin-bottom: 34px;}
        .subheading{font-family: $fontpoppins;@include font24;font-weight: $fontW400;color: var(--Body-Copy, #6A6A6A);line-height: 34px;}
    }
    .researchsec-wrapper{position: relative;margin-bottom:150px;padding:150px 150px 0px 150px;display:flex;justify-content:end;
        &:nth-child(odd){justify-content: start;}
        &:nth-child(even){.img-div{.slick-dots{left: 150px;}}}
        .img-div{height:calc(100% - 150px);position:absolute;left:0;top:0;right:0;width:100%;
            .slick-list{height: 100%;
                .slick-track{height: 100%;
                    img{object-fit: cover;width: 100%;height: 100%;}
                }
            }
            .slick-dots{bottom: 80px;text-align: center;width: 20px;transform: rotate(270deg);right: 150px;
                li{width: 12px;height: 12px;margin: 0px 3px;display: block;margin-bottom: 20px;
                    button{
                        &::before{content: "";border-radius: 10px;width: 12px;height: 12px;background: #fff;opacity: 1;}
                    }
                }
                li.slick-active{margin-bottom: 90px;
                    button{
                        &::before{opacity: 1;background: #fff;height: 80px;border-radius: 10px;transition: 0.9s all ease-in-out;}
                    }
                }
            }
        }
        .research-card-type{position: relative;background: var(--primary-white, #FFF);padding: 80px;width:580px;min-height:722px;z-index:2;
            .research-card-subheading{margin-bottom: 30px;color: var(--primary-black, #000);font-family: $fontpoppins;@include font20;font-weight: $fontW600;line-height: 30px;text-transform: uppercase;}
            .research-card-mainheading{margin-bottom: 48px;color: var(--primary-black, #000);font-family: $fontpoppins;@include font30;font-weight: $fontW500;line-height: 40px;letter-spacing: -0.9px;}
            .research-card-content{color: var(--body-copy, #6A6A6A);font-family: $fontpoppins;@include font20;font-weight: $fontW500;line-height: 30px;letter-spacing: 0.6px;}
            .aboutus-cta{margin-top: 48px;text-align: center; font-family: $fontpoppins;@include font14;font-weight: $fontW700;line-height: 18px;letter-spacing: 0.7px;text-transform: uppercase;display: inline-flex;align-items: center;justify-content: center;padding: 14px 24px;margin-right: 30px;border-radius: 6px;border: 1px solid  #000;img{margin-left: 10px;}}
        }
    }
    // ----------------------------------------media queries-----------------------------------------------//    
    @media all and (max-width:1800px){margin-bottom:220px;
        .heading-content{margin-bottom: 130px;padding:0px 140px;
            .main-heading{line-height: 72px;margin-bottom: 34px;}
            .subheading{line-height: 34px;}
        }
        .researchsec-wrapper{margin-bottom:220px;
            .img-div{height:calc(100% - 130px);
                .slick-dots{width: 18px;
                    li{width: 10px;height: 10px;
                        button{
                            &::before{width: 10px;height: 10px;}
                        }
                    }
                    li.slick-active{
                        button{
                            &::before{height: 60px;}
                        }
                    }
                }
            }
            .research-card-type{padding: 75px;
                .research-card-subheading{margin-bottom: 30px;line-height: 30px;}
                .research-card-mainheading{margin-bottom: 48px;line-height: 40px;}
                .research-card-content{line-height: 30px;}
            }
        }
    }
    @media all and (max-width:1600px){margin-bottom:200px;
        .heading-content{margin-bottom: 120px;padding:0px 130px;
            .main-heading{line-height: 70px;margin-bottom: 32px;}
            .subheading{line-height: 32px;}
        }
        .researchsec-wrapper{margin-bottom:200px;
            .img-div{height:calc(100% - 120px);
                .slick-dots{width: 16px;
                    li{width: 8px;height: 8px;margin-bottom:16px;
                        button{
                            &::before{width: 8px;height: 8px;}
                        }
                    }
                    li.slick-active{margin-bottom: 65px;
                        button{
                            &::before{height: 50px;}
                        }
                    }
                }
            }
            .research-card-type{padding: 65px;width:480px;min-height:600px;
                .research-card-subheading{margin-bottom: 28px;line-height: 28px;}
                .research-card-mainheading{margin-bottom: 40px;line-height: 36px;}
                .research-card-content{line-height: 28px;}
                .aboutus-cta{line-height: 16px;padding: 12px 24px;margin-right: 28px;margin-top: 40px;}
            }
        }
    }
    @media all and (max-width:1440px){
        margin-bottom:180px;
        .heading-content{margin-bottom: 120px;padding:0px 120px;
            .main-heading{line-height: 65px;margin-bottom: 30px;}
            .subheading{line-height: 30px;}
        }
        .researchsec-wrapper{margin-bottom:180px;
            .img-div{height:calc(100% - 100px);
                .slick-dots{width: 14px;
                    li{width: 7px;height: 7px;margin-bottom:14px;
                        button{
                            &::before{width: 7px;height: 7px;}
                        }
                    }
                    li.slick-active{margin-bottom: 50px;
                        button{
                            &::before{height: 40px;}
                        }
                    }
                }
            }
            .research-card-type{padding: 55px;min-height:500px;width:440px;
                .research-card-subheading{margin-bottom: 24px;line-height: 24px;}
                .research-card-mainheading{margin-bottom: 36px;line-height: 36px;}
                .research-card-content{line-height: 24px;}
                .aboutus-cta{line-height: 14px;padding: 10px 22px;margin-right: 26px;margin-top: 36px;}
            }
        }
    }
    @media all and (max-width:1200px){
        margin-bottom:150px;
        .heading-content{margin-bottom: 110px;
            .main-heading{line-height: 56px;margin-bottom: 28px;}
            .subheading{line-height: 28px;}
        }
        .researchsec-wrapper{margin-bottom:160px;
            .img-div{height:calc(100% - 90px);
            }
            .research-card-type{padding: 50px;width:380px;min-height:480px;
                .research-card-subheading{margin-bottom: 22px;line-height: 22px;}
                .research-card-mainheading{margin-bottom: 32px;line-height: 28px;}
                .research-card-content{line-height: 22px;}
                .aboutus-cta{line-height: 12px;margin-right: 24px;margin-top: 32px;}
            }
        }
    }
    @media all and (max-width:1024px){
        margin-bottom:180px;
        .heading-content{margin-bottom: 100px;padding:0px;
            .main-heading{line-height: 48px;margin-bottom: 20px;width: 90%;}
            .subheading{line-height: 24px;width: 90%;}
        }
        .researchsec-wrapper{position: relative;margin-bottom:80px;flex-direction: column;padding:0px;
            .img-div{height:auto;position: relative;margin-bottom:0px;
                .slick-dots{bottom: 0px;margin: 0 auto;}
            }
            &:nth-child(odd){.img-div{.slick-dots{right: 50%;left: 50%;}}}
            &:nth-child(even){.img-div{.slick-dots{left: 50%;right: 50%;}}}
            .research-card-type{@include wrapper;padding-bottom:60px;padding-top: 50px;width:auto;min-height:unset;
                .research-card-subheading{margin-bottom:20px;line-height: 20px;}
                .research-card-mainheading{margin-bottom:20px;line-height: 34px;}
                .research-card-content{line-height: 20px;}
                .aboutus-cta{line-height: 12px;padding: 10px 20px;margin-right: 0px;img{margin-left: 6px;}margin-top: 20px;}
            }
        }
    }
    @media all and (max-width:821px){
        margin-bottom:150px;padding:0px;
        .heading-content{@include wrapper;}
        .researchsec-wrapper{margin-bottom:54px;padding:0px;@include wrapper;
            .research-card-type{padding-bottom:55px;padding-top: 36px;width:auto;
                .research-card-subheading{margin-bottom:10px;font-size: 12px;font-weight: 600;line-height: 12px;}
                .research-card-mainheading{margin-bottom:10px;font-size: 20px;font-weight: 500;line-height: 30px;}
                .research-card-content{font-size: 14px;font-weight: 400;line-height: 24px;}
                .aboutus-cta{line-height: 10px;padding: 8px 16px;img{margin-left: 5px;}margin-top: 10px;}
            }
        }
    }
    @media all and (max-width:680px){margin-bottom: 40px !important;
        .heading-content{margin-bottom: 80px;
            .main-heading{margin-bottom: 10px;width: 100%;font-size: 30px;font-weight: 500;line-height: 30px;letter-spacing: -0.9px;}
            .subheading{width: 100%;font-size: 14px;font-weight: 400;line-height: 24px;text-transform: capitalize;}
        }
        .researchsec-wrapper{padding: 0px;
            .img-div{
                .slick-dots{bottom: -12px;
                    li{width: 6px;height: 6px;margin-bottom: 6px;
                        button{
                            &::before{width: 6px;height: 6px;}
                        }
                    }
                    li.slick-active{margin-bottom: 50px;
                        button{
                            &::before{height: 50px;}
                        }
                    }
                }
            }
        }
    }
}
.aboutUs-collaborate{margin-bottom: 400px !important;
    @media all and (max-width:1800px){margin-bottom: 350px !important;}
    @media all and (max-width:1600px){margin-bottom: 300px !important;}
    @media all and (max-width:1400px){margin-bottom: 250px !important;}
    @media all and (max-width:1200px){margin-bottom: 200px !important;}
    @media all and (max-width:1024px){margin-bottom: 150px !important;}
    @media all and (max-width:680px){margin-bottom: 30px !important;}
}

 