.bloglistingsection{margin:224px 0px 240px;
    .blogsWrapper{@include wrapperTwo;position: relative;
        .secHeading{width: 41%; 
            h2{@include font64;font-weight: $fontW500;line-height: 74px;letter-spacing: -1.5px;}
            p{@include font24;font-weight: $fontW400;line-height: 34px;margin-top: 34px;color: #6A6A6A;}
        }
        .bloglistingBoxes{display: flex;justify-content: space-between;flex-wrap: wrap;align-items: flex-start;flex-direction: row-reverse;
            .blogslistinnerBoxes{width: 40%;margin-top: 150px;position: relative;overflow: hidden;transition: 0.7s all ease-out;height: auto;
               &:nth-child(odd){margin-top: -7%;}
                .blogImg{img{scale: 1.1;transition: 0.7s all ease-out;}}
                    .blogDetails{background-color: #fff;padding: 58px 50px;margin: 30px;position: absolute;bottom: 0;transition: 0.7s all ease-out;left: 0;right: 0;
                        h3{@include font32; font-weight: $fontW400;line-height: 43px;margin-top: 30px;display: block;display: -webkit-box;max-width: 100%;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
                        h4{@include font16; font-weight: $fontW600;line-height: 1;letter-spacing: 0.8px;}
                        .blogArrowimg{position: absolute;right: 50px;bottom: -100%;transition: 0.7s all ease-out;img{height: 20px;width: 20px;}}
                }
                &:hover{
                    .blogImg{img{scale: unset;transition: 0.7s all ease-out;}}
                    .blogDetails{margin: 0px;transition: 0.7s all ease-out;
                        .blogArrowimg{bottom: 25px;transition: 0.7s all ease-out;}
                    }
                }
            }
        }
        #myButton{width: 33.5%;position: absolute;bottom: 100px;text-align: center;
            &.even-based{right: 210px;}
        }
    }

    @media screen and (max-width:1920px) {
        .blogsWrapper {
            .bloglistingBoxes .blogslistinnerBoxes{
                &:nth-child(odd){margin-top: -10%;}
            }
            #myButton{width: 31%;bottom: 110px;
            }
        }
    }

    @media screen and (max-width:1800px) {
        margin:200px 0px 220px;
        .blogsWrapper{
            .bloglistingBoxes .blogslistinnerBoxes {
                &:nth-child(odd){margin-top: -12%;}
                .blogDetails .blogArrowimg img{height: 15px;width: 15px;}
            }
        }    
    }
    @media screen and (max-width:1600px) {
        margin:180px 0px 200px;
        .blogsWrapper{
            .secHeading{width: 43%;
                h2{line-height: 64px;}
                p{line-height: 28px;margin-top: 25px;}
            }
            .bloglistingBoxes{
                .blogslistinnerBoxes{margin-top: 120px;
                &:nth-child(odd){margin-top: -9%;}
                   .blogDetails{padding: 50px 45px;margin: 25px;
                        h3{line-height: 30px;margin-top: 25px;}
                    }                    
                }
            }
            #myButton{width: 31%;bottom: 80px;
                &.even-based{right: 180px;}
            }
        }
    }
    @media screen and (max-width:1400px) {
        margin:150px 0px 170px;
        .blogsWrapper{
            .secHeading{width: 45%;
                h2{line-height: 60px;}
                p{line-height: 26px;margin-top: 20px;}
            }
            .bloglistingBoxes{
                .blogslistinnerBoxes{width: 43%;margin-top: 100px;
                    &:nth-child(odd){margin-top: -10%;}
                    .blogDetails{padding: 40px 35px;margin: 20px;
                        h3{line-height: 28px;margin-top: 22px;}
                        .blogArrowimg{right: 30px;}
                    }
                    &:hover{
                        .blogDetails{
                            .blogArrowimg{bottom: 18px;}
                        }
                    }
                }
            }
            #myButton{width: 34%;bottom: 70px;
                &.even-based{right: 150px;}
            }
        }
    }
    @media screen and (max-width:1280px) {
        margin:120px 0px 150px;
        .blogsWrapper{
            .secHeading{
                h2{line-height: 54px;}
                p{line-height: 24px;margin-top: 16px;}
            }
            .bloglistingBoxes{
                .blogslistinnerBoxes{width: 45%;margin-top: 80px;
                   .blogDetails{padding: 30px 25px;margin: 15px;
                        h3{line-height: 26px;margin-top: 20px;}
                    }
                }
            }
            #myButton{width: 34.5%;bottom: 70px;
                &.even-based{right: 150px;}
            }  
        }
    }

    @media screen and (max-width:1200px) {
        .blogsWrapper{
            #myButton{width: 36%;bottom: 50px;
                &.even-based{right: 120px;}
            }   
        }
    }

    @media screen and (max-width:1024px) {
        .blogsWrapper{
            .secHeading{width: 45%;
                h2{line-height: 48px;letter-spacing: -0.9px;}
                p{line-height: 20px;margin: 20px 0px;}
            }
            .bloglistingBoxes{
                .blogslistinnerBoxes{width: 45%;margin-top: 60px;
                    .blogImg{img{scale: unset;transition: 0.7s all ease-out;}}
                        .blogDetails{padding: 25px 20px 36px;margin: 0px;transition: 0.7s all ease-out;
                            h3{font-size: 18px;line-height: 22px;}
                            .blogArrowimg{bottom: 25px;transition: 0.7s all ease-out;display: inline-block;position: unset;padding-top: 16px;transition: none;img{height: 12px;width: 12px;}
                        }
                    }
                }
            }
            #myButton{width: 40.5%;bottom: 50px;
                &.even-based{right: 50px;}
            } 
        }
    }
    @media screen and (max-width:768px) {
        .blogsWrapper{
              #myButton{bottom: 40px;width: 42.5%;
                  &.even-based{right: 20px;}
              }  
          }
      }
    @media screen and (max-width:680px) {
        margin: 100px 0px 150px;
        .blogsWrapper{
            .secHeading{width: 100%;
                h2{font-size: 40px;line-height: 50px;letter-spacing: -1.2px;}
                p{font-size: 14px;line-height: 26px;}
            }
            .bloglistingBoxes{
                .blogslistinnerBoxes{width: 100%;margin-top: 40px;
                    &:nth-child(odd){margin-top: 40px;}
                    .blogDetails{padding: 25px 20px;
                        h3{font-size: 18px;line-height: 28px;margin: 16px 0px;}
                        .blogArrowimg{padding-top: 0px;img{width: 12px;}}
                    }
                }
            }
            #myButton{position:unset;width: 100%;margin-top: 40px;
                &.even-based{right: unset;}
            } 
        }
    }
}