.blogdetails-bannerSec {
    .blogdetails-wrapper {@include wrapperTwo;margin: 190px 0px 100px 0px;width: 85%;
        h3 {color: #000;font-family: $fontpoppins;@include font20;font-weight: $fontW700;line-height: 150%;letter-spacing: 1px;text-transform: uppercase;}
        h1 {margin: 48px 0px;color: #000;font-family: $fontpoppins;@include font96;font-weight: $fontW500;line-height: 130%;letter-spacing: -1px;word-wrap: break-word}
    }
    .blogdetails-imagesec {@include wrapper;
        width: 100%;
        margin-bottom: 100px;
    }

    // ----------------------------------------media queries-----------------------------------------------//
    @media all and (max-width:1800px) {
        .blogdetails-wrapper {
            margin: 180px 0px 90px 0px;
            h1 {margin: 45px 0px;}

        }
        .blogdetails-imagesec { margin-bottom: 90px;}
        
    }
    @media all and (max-width:1600px) {
        .blogdetails-wrapper {
            margin: 170px 0px 80px 0px;
            h1 {margin: 40px 0px;}

        }
        .blogdetails-imagesec { margin-bottom: 80px;}
    }
    @media all and (max-width:1400px) {
        .blogdetails-wrapper {
            margin: 160px 0px 70px 0px;
            h1 {margin: 35px 0px;}
        }
        .blogdetails-imagesec { margin-bottom: 70px;}
    }
    @media all and (max-width:1200px) {
        .blogdetails-wrapper {
            margin: 150px 0px 60px 0px;
            h1 {margin: 30px 0px;}
        }
        .blogdetails-imagesec { margin-bottom: 60px;}
    }
    @media all and (max-width:1024px) {
        .blogdetails-wrapper {margin: 120px 0px 60px 0px;@include wrapper;
            h1 {margin: 25px 0px;}

        }
    }
    @media all and (max-width:780px) {
        .blogdetails-wrapper {margin: 102px 0px 60px 0px;width: 100%;
            h3 {font-size: 12px;font-weight: 700;letter-spacing: 0.6px;}
            h1 {margin: 20px 0px;font-size: 30px;font-weight: 500;width: 80%;}
        }
    }
    @media all and (max-width:720px){padding: 0px;

    }
}

.blogdetails-contentSec {@include wrapperTwo;
        .blogdetails-contentContainer {width: 70%;
            h2{@include font48;font-weight: $fontW500;line-height: 133%;letter-spacing: 0;margin-bottom: 30px;color: #000;}
            h3{@include font28;font-weight: $fontW500;line-height: 133%;letter-spacing: 0;margin-bottom: 30px;color: #000;}
            h4{@include font24;font-weight: $fontW500;line-height: 133%;letter-spacing: 0;margin-bottom: 30px;color: #000;}
            h5{@include font20;font-weight: $fontW500;line-height: 133%;letter-spacing: 0;margin-bottom: 30px;color: #000;}
            p , ul li, ol li{color: #6A6A6A;font-family: $fontpoppins;@include font20;font-weight: $fontW500;line-height: 150%;margin-bottom: 42px;}
            ul , ol{padding-left: 20px;margin-bottom: 42px;}
            ol li{list-style: decimal;margin-bottom: 0;}
            ul li{list-style: disc;margin-bottom: 0;}
            img{margin:30px 0px 48px;}
            .spacer{height: 150px;}
            .shareSec {margin: 150px 0px 300px;padding: 30px 0px;border-top: 1px solid rgba(0,0,0,0.2); background-color: #f1f1f1;border-bottom: 1px solid rgba(0,0,0,0.2);display: flex;justify-content: space-between;align-items:center;
                h4{color: var(--Primary-Black, #000);font-family: $fontpoppins;@include font16;font-weight: $fontW600;line-height: 14px;letter-spacing: 0.8px;text-transform: uppercase;margin-bottom: 0px;}
                .shareDiv{display: flex;position: relative;
                    .like-count{display: flex;align-items: center;margin-right: 10px;}
                    .like-button{margin-right: 48px;text-align: center;cursor: pointer;
                        img{margin: 0px 0px 10px;animation: 2s linear infinite rotate-fan;border-radius: 50%;transition: 0.7s all ease-in-out;}
                        span{color: #000;font-family: $fontpoppins;@include font16;font-weight: $fontW500;line-height: 18px;letter-spacing: 0.8px;}
                        &:hover{img{background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), conic-gradient(from 180deg at 50% 50%, #F00 0deg, #FAFF00 58.1249982119deg, #05FB00 116.2499964237deg, #00FFE0 185.625deg, #0029FF 247.5deg, #FF00D6 305.6249928474deg, #F00 360deg);transition: 0.7s all ease-in-out;}}
                    }
                    @keyframes rotate-fan {
                        0% {transform: rotate(0deg);}
                        100% {transform: rotate(360deg);}
                    }
                    a{cursor: pointer;display: flex;flex-direction: column;align-items: center;img{margin-bottom: 14px;margin-top: 0px;}color: var(--Primary-Black, #000);font-family: $fontpoppins;@include font16;font-weight: $fontW500;line-height: 18px;letter-spacing: 0.8px;}
                    .sharePopup{position: fixed;top: 0 !important;right: 0;left: 0;height: 100%;width: 100%;overflow: hidden;transition: 0.7s all ease-in-out;background: rgba(0, 0, 0, 0.54); backdrop-filter: blur(6px);z-index: 12;opacity: 0;visibility: hidden;transform: scale(1.1);transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
                        .innerPopup{position: absolute;top: 50%;transform: translateY(-50%);left: 0;right: 0;margin: 0 auto;width: 40%;z-index: 10;border-radius: 12px;background: #FFF;box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.06);padding: 24px;}
                        &.sharePopupnew{opacity: 1;visibility: visible;transform: scale(1);transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;}
                        .secHeading{display: flex;align-items: center;justify-content: space-between;padding-bottom: 16px;border-bottom: 1px solid #EAEAEA;
                            h3{@include font16; font-weight: $fontW600;letter-spacing: 0.8px;text-transform: uppercase;line-height: normal;color: #000;margin-bottom: 0;}
                            .closePopupshare{transition: 0.7s all ease-in-out;height: 30px;width: 30px;background: #e6e6e6;border-radius: 50%;display: flex;align-items: center;justify-content: center;img{margin-bottom: 0px}}
                        }
                        h4{@include font14; font-weight: $fontW500;line-height: 1;letter-spacing: 0.7px;margin: 16px 0px;text-transform: unset;color: #6A6A6A;
                            &:nth-child(3){margin-top: 24px;}
                        }
                        ul{display: flex;align-items: center;padding-left: 0px;
                            li {margin-right: 18px;list-style: none !important;margin-bottom: 0px !important;
                                &:last-child{margin-right: 0px;}
                                a{height: 36px;width: 36px;border-radius: 50%;background-color: #000;display: flex;align-items: center;justify-content: center;transition: 0.7s all ease-out;
                                    svg{height: 18px;width: 18px;
                                        path{fill: #fff;transition: 0.7s all ease-out;}
                                        &.youtube{
                                            .blackCol{fill: #000;}
                                        }
                                    }
                                    &:hover{transition: 0.7s all ease-out;
                                        background-color: #fff;
                                        border: 1px solid #000;
                                        svg{
                                            path{fill: #000;transition: 0.7s all ease-out;}
                                            &.youtube{
                                                .blackCol{fill: #fff;transition: 0.7s all ease-out;}
                                            }
                                        }
                                    }
                                }   
                            }
                        }
                        .signup{border-radius: 6px;border: 1px solid  #000;background:  #FFF;padding: 3px 3px 3px 15px;display: flex;align-items: center;justify-content: space-between;width: 100%;position: relative;background: url('../images/share-copy-linkicon.svg') no-repeat left;background-position: 12px;
                            &::before{content: "";position: absolute;width: 1px;height: 50%;background: #F1F1F1;top: 50%;transform: translateY(-50%);left: 38px;}
                            button{background-color: #000;color: #fff;padding: 14px 24px;border-radius: 6px;text-transform: uppercase;@include font14;font-weight: $fontW700;line-height: 1;letter-spacing: 0.7px;cursor: pointer;
                                span{color: #fff;}
                            }
                            h6{padding-left: 40px;}
                            form{display: flex;justify-content: space-between;
                                input[type=submit]{background-color: #000;color: #fff;padding: 14px 24px;border-radius: 6px;text-transform: uppercase;@include font14;font-weight: $fontW700;line-height: 1;letter-spacing: 0.7px;cursor: pointer;}
                                input[type=email]{width: 100%;color: #000;@include font14;font-weight: $fontW400;line-height: 1;background: url('../images/share-copy-linkicon.svg') no-repeat left;background-position: 12px;padding-left: 54px;
                                    &::-webkit-input-placeholder {color: #6a6a6a;@include font12;letter-spacing: 0.6px;font-weight: $fontW500;}
                                    &::-moz-placeholder {color: #6a6a6a;@include font12;letter-spacing: 0.6px;font-weight: $fontW500;}
                                    &:-ms-input-placeholder { color: #6a6a6a;@include font12;letter-spacing: 0.6px;font-weight: $fontW500;}
                                    &:-moz-placeholder {color: #6a6a6a;@include font12;letter-spacing: 0.6px;font-weight: $fontW500;}
                                }
                            }
                        }
                    }
                }
            }
        }
    @media all and (max-width:1600px){

            .blogdetails-contentContainer {
                h2, h3, h4, h5{margin-bottom: 25px;}
                p {margin-bottom: 35px;}
                ul , ol{margin-bottom: 35px;}
                img{margin:30px 0px 40px;}
                .spacer{height: 120px;}
                .shareSec {margin-bottom:250px;padding: 28px 0px;
                    h4{line-height: 12px;}
                    .shareDiv{
                        .like-button{margin-right: 40px;}
                        a{line-height: 16px;}
                        .sharePopup{top: -300px;padding: 22px;
                           .secHeading{padding-bottom: 14px;
                                .closePopupshare{height: 25px;width: 25px;}
                            }
                            h4{margin: 14px 0px;
                                &:nth-child(3){margin-top: 22px;}
                            }
                            ul{
                                li {margin-right: 16px;
                                    a{height: 32px;width: 32px;
                                        svg{height: 16px;width: 16px;
                                        }
                                    }   
                                }
                            }
                            .signup{
                                &::before{left: 36px;}
                                button{padding: 14px 22px;}
                                h6{padding-left: 35px;}
                                form{
                                    input[type=submit]{padding: 14px 22px;}
                                    input[type=email]{padding-left: 50px;}
                                }
                            }
                        }
                    }
                }
            }
    }
    @media all and (max-width:1400px){

            .blogdetails-contentContainer {
                p {margin-bottom: 30px;}
                ul , ol{margin-bottom: 30px;}
                img{margin:30px 0px 80px;}
                .spacer{height: 80px;}
                .shareSec {margin-bottom:220px;padding: 25px 0px;
                    h4{line-height: 10px;}
                    .shareDiv{
                        .like-button{margin-right: 32px;img{margin: 0px 0px 8px;}}
                        a{line-height: 14px;}
                        .sharePopup{top: -280px;padding: 20px;
                            .secHeading{padding-bottom: 12px;
                             }
                             h4{margin: 12px 0px;
                                 &:nth-child(3){margin-top: 20px;}
                             }
                             ul{
                                 li {margin-right: 14px;
                                     a{height: 30px;width: 30px;
                                         svg{height: 14px;width: 14px;
                                         }
                                     }   
                                 }
                             }
                             .signup{padding: 3px 3px 3px 10px;background-position: 10px;
                                &::before{left: 34px;}
                                button{padding: 12px 20px;}
                                h6{padding-left: 32px;}
                                &::before{left: 32px;}
                                form{
                                    input[type=submit]{padding: 12px 20px;}
                                    input[type=email]{padding-left: 40px;}
                                }
                             }
                         }
                    }
                }
            }

    }
    @media all and (max-width:1200px){

            .blogdetails-contentContainer {
                h2, h3, h4, h5{margin-bottom: 15px;}
                p {margin-bottom: 25px;}
                ul , ol{margin-bottom: 25px;}
                .shareSec {margin-bottom:200px;padding: 22px 0px;
                    h4{line-height: 8px;}
                    .shareDiv{
                        .like-button{margin-right: 24px;}
                        a{line-height: 12px;}
                    }
                }
            }

    }
    @media all and (max-width:1024px){

            .blogdetails-contentContainer {width: 80%;
                h2, h3, h4, h5{margin-bottom: 18px;}
                p {margin-bottom: 20px;}
                ul , ol{margin-bottom: 20px;}
                .shareSec {margin-bottom:180px;padding: 20px 0px;
                    h4{line-height: 8px;}
                    .shareDiv{
                        .like-button{margin-right: 20px;}
                        a{img{margin-bottom: 18px;}line-height: 10px;}
                        .sharePopup{
                            .innerPopup{width: 60%;}
                        }
                    }
                }
            }

    }
    @media all and (max-width:820px){

            .blogdetails-contentContainer {width: 100%;
                h2, h3, h4, h5{font-size: 20px;}
                .shareSec {margin-bottom:150px;padding: 20px 0px;
                    h4{line-height: 8px;}
                    .shareDiv{
                        a{line-height: 10px;}
                    }
                }
            }

    }
    @media all and (max-width:768px){

            .blogdetails-contentContainer {
                h2, h3, h4, h5{margin-bottom: 10px;}
                p {margin-bottom: 16px;}
                ul , ol{margin-bottom: 16px;}
                .shareSec {margin-bottom:150px;padding: 20px 0px;
                    h4{font-size: 12px;line-height: 24px;font-weight: 600;}
                    .shareDiv{
                        .like-button{margin-right: 32px;img{margin: 0px 0px 14px;}}
                        a{img{margin-bottom: 25px;}font-size: 12px;font-weight: 500;letter-spacing: 0.6px;line-height: 5.554px;}
                    .sharePopup{top: -250px;padding: 16px;
                        .innerPopup{width: 90%;padding: 18px;}
                        .secHeading{padding-bottom: 10px;}
                            h4{margin: 14px 0px;
                                &:nth-child(3){margin-top: 24px;}
                            }
                            ul{
                                li {margin-right: 12px;
                                    a{height: 30px;width: 30px;
                                        svg{height: 14px;width: 14px;
                                        }
                                    }   
                                }
                            }
                            .signup{padding: 3px 3px 3px 8px;background-position: 8px;
                                &::before{left: 32px;}
                                button{padding: 10px 14px;font-size: 10px;}
                                h6{font-size: 10px;}
                                form{
                                    input[type=submit]{padding: 10px 14px;font-size: 10px;}
                                    input[type=email]{padding-left: 40px;}
                                }
                            }
                        }
                    }
                }
            }
    }
}

.blogdetails-container {position: sticky;top: -1px;width: 100%;z-index: 8;background: #F1F1F1;@include wrapper;margin-bottom: 60px;
    .blogdetails-filter {display: block;overflow-x: auto;
        &::-webkit-scrollbar {display: none;}
        &::-webkit-scrollbar-track {display: none;}
        &::-webkit-scrollbar-thumb {display: none;}
        .blogdetailsfilter-wrapper {width: max-content;padding: 30px 0px;
            a {display: inline-block;color: #000;text-decoration: none;font-family: $fontpoppins;@include font14;font-weight: $fontW500;line-height: 14px;letter-spacing: 0.7px;text-transform: uppercase;
                &:not(:last-child) {margin-right: 48px;}
                &.current {font-weight: $fontW700;border: 1px solid #000;border-radius: 6px;padding: 24px 48px;}
            }
        }
    }

    @media all and (max-width:1600px) {
        .blogdetails-filter {
            .blogdetailsfilter-wrapper {padding: 22px 0px;
                a {
                    &:not(:last-child) {margin-right: 40px;}
                    &.current {padding: 22px 44px;}
                }
            }
        }
    }
    @media all and (max-width:1400px) {
        .blogdetails-filter {
            .blogdetailsfilter-wrapper {
                padding: 20px 0px;
                a {
                    &:not(:last-child) {margin-right: 36px;}
                    &.current {padding: 20px 40px;}
                }
            }
        }
    }
    @media all and (max-width:1200px) {
        .blogdetails-filter {
            .blogdetailsfilter-wrapper {
                padding: 18px 0px;
                a {
                    &:not(:last-child) {margin-right: 30px;}
                    &.current {padding: 18px 36px;}
                }
            }
        }


    }
    @media all and (max-width:1024px) {
        .blogdetailsfilter-wrapper {
            a {
                &.current {padding: 16px 32px;}
            }
        }

    }
    @media all and (max-width:720px) {display: none;
        .blogdetailsfilter-wrapper {
            a {font-size: 12px;font-weight: 500;line-height: 14px;letter-spacing: 0.6px;
                &.current {padding: 20px 25px;}
            }
        }
    }
}
