body.opentwo{overflow: hidden;}

header{position: fixed;top: 0;left: 0;right: 0;transition: top 0.2s ease-in-out;background: #f1f1f1;width: 100%;z-index: 9;
    &.nav-up{top: -100px;}
    .headerWrapper{@include wrapper;display: flex;align-items: center;
        .logoDiv{width: 50%;}
        .navDiv{width: 50%;display: flex;align-items: center;justify-content: flex-end;margin: 26px 0px;
            .navList{
                a{ display: inline-block;text-decoration: none;@include font14;font-weight: $fontW700;line-height: 18px;letter-spacing: 0.7px;text-transform: uppercase;text-align: center;color: #000;}
                .headerCta{border-radius: 6px;background-color: #FF0D47;padding: 14px 28px;margin: 0px 40px;color: #FFF;}
            }
            .hamburgerDiv{
                .button_container {
                    position: relative;height: 20px;width: 20px;cursor: pointer;z-index: 1;transition: opacity .25s ease;
                    &.active{
                        &::before{content: "";position: absolute;top: -22px;left: -20px;right: 0;border-radius: 50%;background-color: #191919;height: 68px;width: 68px;}
                        span{width: 28px;}
                        .top {transform: translateY(8px) translateX(0) rotate(45deg);background: #FFF;}
                        .middle {opacity: 0;background: #FFF;}
                        .bottom {transform: translateY(-8px) translateX(0) rotate(-45deg);background: #FFF;}
                    }
                    span {
                        background: #000;border: none;height: 3px;width: 20px;position: absolute;top: 0;left: 0;transition: all .35s ease;cursor: pointer;
                        &:nth-of-type(2) {top: 8px;}
                        &:nth-of-type(3) {top: 16px;}
                    }
                }
                .overlay {
                    position: absolute;background: #000;top: 0;right: 0;width: 0%;transition: 0.7s all ease-in-out;overflow: hidden;
                    &.open{
                       width: 100%;
                        li{
                            animation: fadeInRight .5s ease forwards;animation-delay: .35s;
                            &:nth-of-type(2) {animation-delay: .5s;}
                            &:nth-of-type(3) {animation-delay: .6s;}
                            &:nth-of-type(4) {animation-delay: .7s;}
                            &:nth-of-type(5) {animation-delay: .8s;}
                            &:nth-of-type(6) {animation-delay: .9s;}
                            &:nth-of-type(7) {animation-delay: 1s;}
                            &:nth-of-type(8) {animation-delay: 1.1s;}
                        }
                    }
                    nav {
                        position: relative;margin: 116px 0px 0px 0px;overflow-y: auto;height: 100vh;
                        &::-webkit-scrollbar {width: 0 !important;display: none; }
                        ul{
                            list-style: none;text-align: right;overflow-x: hidden;
                            li{
                                position: relative;opacity: 0;margin-bottom: 42px;transition: 0.3s all ease-out;cursor: pointer;margin-right: 120px;
                                &:hover{transition: 0.3s all ease-out;
                                    a{ margin-right: -20px;opacity: 1;transition: 0.3s all ease-out;
                                        &::before{right: -70px;transition: 0.3s all ease-out;}
                                    }
                                }
                                a{
                                    @include font48;color: #FFF;text-decoration: none;font-weight: $fontW400;line-height: 1;letter-spacing: -1.5px;opacity: 0.5;text-align: right;transition: 0.3s all ease-out;margin-right: 60px;position: relative;
                                    &::before{content: "";position: absolute;background: url(../images/header-arrow.svg)  no-repeat;background-size: contain;top: 50%;transform: translateY(-50%);right: -250px;height: 25px;width: 25px;transition: 0.3s all ease-out;}
                                }
                            }
                        }
                    }
                    @keyframes fadeInRight {
                        0% {opacity: 0;left: 20%;}
                        100% {opacity: 1;left: 0;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1600px) {
        &.nav-up{top: -86px;}
        .headerWrapper{
            .navDiv{margin: 22px 0px;
                .navList{
                    .headerCta{padding: 12px 24px;margin: 0px 30px;}
                }
                .hamburgerDiv{
                    .button_container {
                        &.active{
                            &::before{height: 60px;width: 60px;left: -18px;top: -20px;}
                            span{width: 22px;}
                        }
                    }
                    .overlay {
                        nav {
                            margin: 100px 0px 0px 0px;
                            ul{
                                li{
                                    margin-bottom: 38px;margin-right: 110px;
                                    &:hover{
                                        a{ margin-right: -15px;}
                                    }
                                    a{
                                       margin-right: 50px;
                                        &::before{height: 20px;width: 20px;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:1400px) {
        &.nav-up{top: -82px;}
        .headerWrapper{
            .navDiv{margin: 20px 0px;
                .navList{
                    a{font-size: 12px;}
                    .headerCta{padding: 12px 20px;margin: 0px 25px;}
                }
                .hamburgerDiv{
                    .button_container {
                        &.active{
                            &::before{height: 50px;width: 50px;left: -16px;top: -16px;}
                            span{width: 20px;}
                        }
                    }
                    .overlay {
                        nav {
                            margin: 70px 0px 0px 0px;
                            ul{
                                li{
                                    margin-bottom: 30px;margin-right: 100px;
                                    a{
                                       margin-right: 45px;
                                        &::before{height: 18px;width: 18px;}
                                    }
                                    &:hover{a:before{right: -50px;}}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:1280px) {
        &.nav-up{top: -74px;}
        .headerWrapper{
            .navDiv{margin: 18px 0px;
                .navList{
                    .headerCta{padding: 10px 18px;}
                }
                .hamburgerDiv{
                    .button_container {
                        &.active{
                            &::before{height: 40px;width: 40px;left: -12px;top: -10px;}
                            span{width: 16px;height: 2px;}
                        }
                    }
                    .overlay {
                        nav {
                            margin: 60px 0px 0px 0px;
                            ul{
                                li{
                                    margin-bottom: 25px;margin-right: 90px;
                                    a{
                                       margin-right: 30px;
                                        &::before{height: 14px;width: 14px;}
                                    }
                                    &:hover{a{margin-right: -5px;
                                        &:before{right: -40px;}}}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.caseStudyListingsec{margin: 224px 0px 240px;
    .casestudyWrapper{@include wrapperTwo;
        .secHeading{width: 41%;
            h2{@include font64;font-weight: $fontW500;line-height: 74px;letter-spacing: -1.5px;}
            p{@include font24;font-weight: $fontW400;line-height: 34px;margin-top: 34px;color: #6A6A6A;}
        }
        .casestudylistingBoxes{display: flex;justify-content: space-between;flex-wrap: wrap;
            .caseStudyBoxes{width: 40%;margin-top: 150px;position: relative;overflow: hidden;height: 1120px;
                &:nth-child(even){margin-top: -10%;}
                &:nth-child(3){animation-delay: 0.7s;}
                &:nth-child(4){animation-delay: 0.9s;}
                .casestudyImg img{transform: rotate(6deg) scale(1.2);transition: 0.3s all ease-out; }
                .caseStudydesc{position: absolute;bottom: -100%;left: 0;right: 0;margin: 50px;transition: 0.5s all ease-out;z-index: 2;
                    h3{@include font32;font-weight: $fontW400;line-height: 42px;color: #fff;margin: 30px 0px;display: block;display: -webkit-box;max-width: 100%;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
                    h4{@include font16;font-weight: $fontW600;line-height: 14px;color: #fff;letter-spacing: 0.8px;text-transform: uppercase;}
                }
                &:hover{
                    .casestudyImg { position: relative; img{transform: rotate(0deg) scale(1);transition: 0.3s all ease-out;}
                        &::before{content: "";position: absolute;height: 100%;width: 100%;background: #000;opacity: 0.3;transition: 0.5s all ease-out;z-index: 1;}
                    }
                    .caseStudydesc{bottom: 0;transition: 0.5s all ease-out;}
                }
            }
        }
    }

    @media screen and (max-width:1920px) {
        .casestudyWrapper {
            .casestudylistingBoxes .caseStudyBoxes{
                height: 780px;
                &:nth-child(even){margin-top: -20%;}
            }
        }
    }
    @media screen and (max-width:1800px) {
        .casestudyWrapper {
            .casestudylistingBoxes .caseStudyBoxes{
                height: 690px;
                &:nth-child(even){margin-top: -22%;}
            }
        }
    }
    @media screen and (max-width:1600px) {
        margin:180px 0px 200px;
        .casestudyWrapper{
            .secHeading{width: 43%;
                h2{line-height: 64px;}
                p{line-height: 28px;margin-top: 28px;}
            }
            .casestudylistingBoxes{
                .caseStudyBoxes{margin-top: 120px;height: 610px;
                    &:nth-child(even){margin-top: -19%;}
                    .caseStudydesc{margin: 40px;
                        h3{line-height: 32px;;margin: 25px 0px;}
                        h4{line-height: 1;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1400px) {
        margin: 150px 0px 180px;
        .casestudyWrapper{
            .secHeading{width: 45%;
                h2{line-height: 60px;}
                p{line-height: 26px;margin-top: 22px;}
            }
            .casestudylistingBoxes{
                .caseStudyBoxes{width: 43%;margin-top: 100px;height: 600px;
                    &:nth-child(even){margin-top: -22%;}
                    .caseStudydesc{margin: 35px;
                        h3{line-height: 28px;;margin: 20px 0px;}
                        img{width: 14px;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1280px) {
        margin: 100px 0px 150px;
        .casestudyWrapper{
            .secHeading{
                h2{line-height: 54px;}
                p{line-height: 24px;margin-top: 20px;}
            }
            .casestudylistingBoxes{
                .caseStudyBoxes{width: 42%;margin-top: 80px;height: 540px;
                    &:nth-child(even){margin-top: -15%;}
                    .caseStudydesc{margin: 30px;
                        h3{line-height: 26px;margin: 15px 0px;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1200px) {
        .casestudyWrapper .casestudylistingBoxes .caseStudyBoxes{
           height: 516px;
        }
   }
    @media screen and (max-width:1024px) {
        .casestudyWrapper{
            .secHeading{width: 100%;
                h2{line-height: 48px;}
                p{line-height: 20px;}
            }
            .casestudylistingBoxes{display: block;margin: 32px 0px;
                .slick-prev,.slick-next {position: absolute;bottom: -75px;top: unset;background: transparent;border: 2px solid #C0C6C9;border-radius: 40px;width: 40px;height: 40px;display: flex;align-items: center;justify-content: center;cursor: pointer;
                    &::before {content: url(../images/slider-prev.svg);opacity: 1;scale: 0.7;}
                    &.slick-next {right: 50%;transform: translateX(50px);
                        &::before {content: url(../images/slider-next.svg);}
                    }
                    &.slick-prev {left: 50%;transform: translateX(-50px);}
                }
                .caseStudyBoxes{width: unset;margin: 0px 20px 0px;
                    &:nth-child(even){margin-top: unset;}
                    .casestudyImg{img{transform: rotate(0deg) scale(1);transition: 0.3s all ease-out;}
                        &::before{content: "";position: absolute;height: 100%;width: 100%;background: #000;opacity: 0.3;transition: 0.5s all ease-out;z-index: 1;}
                    }
                    .caseStudydesc{bottom: 0;margin: 16px;}
                }
            }
        }
    }
    @media screen and (max-width:680px) {
        .casestudyWrapper{
            padding: 0px;
            .secHeading{h2{font-size: 30px;line-height: 40px;}p{font-size: 14px;}padding: 0px 20px}
            .casestudylistingBoxes{
                .caseStudyBoxes{margin: 0px 10px 0px;
                    .caseStudydesc{
                        h3{font-size: 18px;line-height: 28px;margin: 10px 0px;}
                        img{width: 12px;}
                    }
                }
            }
        }
    }
}


  
  
 
  
  