body.opentwo{overflow: hidden;}


.caseStudyListingsec{margin:224px 0px 240px;
    .casestudyWrapper{@include wrapperTwo;
        .secHeading{width: 41%;
            h2{@include font64;font-weight: $fontW500;line-height: 74px;letter-spacing: -1.5px;}
            p{@include font24;font-weight: $fontW400;line-height: 34px;margin-top: 34px;color: #6A6A6A;}
        }
        .casestudylistingBoxes{display: flex;justify-content: space-between;flex-wrap: wrap;align-items: flex-start;flex-direction: row-reverse;
            .caseStudyBoxes{width: 40%;margin-top: 150px;position: relative;overflow: hidden;height: auto;
                &:nth-child(odd){margin-top: -10%;}
                &:nth-child(3){animation-delay: 0.7s;}
                &:nth-child(4){animation-delay: 0.9s;}
                .casestudyImg img{transform: scale(1.1);transition: 0.7s all ease-out; }
                .caseStudydesc{position: absolute;bottom: -100%;left: 0;right: 0;margin: 50px;transition: 0.7s all ease-out;z-index: 2;
                    h3{@include font32;font-weight: $fontW400;line-height: 42px;color: #fff;margin: 30px 0px;display: block;display: -webkit-box;max-width: 100%;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
                    h4{@include font16;font-weight: $fontW600;line-height: 14px;color: #fff;letter-spacing: 0.8px;text-transform: uppercase;}
                }
                &:hover{
                    .casestudyImg { position: relative; img{transform:  scale(1);transition: 0.7s all ease-in-out;}
                        &::before{content: "";position: absolute;height: 100%;width: 100%;background: #000;opacity: 0.3;transition: 0.7s all ease-out;z-index: 1;}
                    }
                    .caseStudydesc{bottom: 0;transition: 0.7s all ease-in-out;}
                }
            }
        }
    }

    @media screen and (max-width:1920px) {
        .casestudyWrapper {
            .casestudylistingBoxes .caseStudyBoxes{
                &:nth-child(odd){margin-top: -20%;}
            }
        }
    }
    @media screen and (max-width:1800px) {
        margin:200px 0px 220px;
        .casestudyWrapper {
            .casestudylistingBoxes .caseStudyBoxes{
                &:nth-child(odd){margin-top: -22%;}
            }
        }
    }
    @media screen and (max-width:1600px) {
        margin:180px 0px 200px;
        .casestudyWrapper{
            .secHeading{width: 43%;
                h2{line-height: 64px;}
                p{line-height: 28px;margin-top: 25px;}
            }
            .casestudylistingBoxes{
                .caseStudyBoxes{margin-top: 120px;
                    &:nth-child(odd){margin-top: -19%;}
                    .caseStudydesc{margin: 40px;
                        h3{line-height: 32px;;margin: 25px 0px;}
                        h4{line-height: 1;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1400px) {
        margin:150px 0px 170px;
        .casestudyWrapper{
            .secHeading{width: 45%;
                h2{line-height: 60px;}
                p{line-height: 26px;margin-top: 20px;}
            }
            .casestudylistingBoxes{
                .caseStudyBoxes{width: 43%;margin-top: 100px;
                    &:nth-child(odd){margin-top: -22%;}
                    .caseStudydesc{margin: 35px;
                        h3{line-height: 28px;;margin: 20px 0px;}
                        img{width: 14px;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1280px) {
        margin:120px 0px 150px;
        .casestudyWrapper{
            .secHeading{
                h2{line-height: 54px;}
                p{line-height: 24px;margin-top: 16px;}
            }
            .casestudylistingBoxes{
                .caseStudyBoxes{width: 42%;margin-top: 80px;
                    &:nth-child(odd){margin-top: -15%;}
                    .caseStudydesc{margin: 30px;
                        h3{line-height: 26px;margin: 15px 0px;}
                    }
                }
            }
        }
    }
    
    @media screen and (max-width:1024px) {
      .casestudyWrapper{
            .secHeading{width: 45%;
                h2{line-height: 48px;letter-spacing: -0.9px;}
                p{line-height: 20px;margin-bottom: 20px;}
            }
            .casestudylistingBoxes{
                .caseStudyBoxes{width: 45%;margin-top: 60px;height: auto;
                    .casestudyImg { position: relative; img{transform:  scale(1);transition: 0.7s all ease-out;}
                        &::before{content: "";position: absolute;height: 100%;width: 100%;background: #000;opacity: 0.3;transition: 0.7s all ease-out;z-index: 1;}
                    }
                    .caseStudydesc{bottom: 0;margin: 20px;
                        h3{line-height: 23px;margin: 15px 0px;font-size: 18px;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:680px) {
        margin: 100px 0px 150px;
        .casestudyWrapper{
            .secHeading{width: 100%;
                h2{font-size: 40px;line-height: 50px;letter-spacing: -1.2px;}
                p{line-height: 26px;margin:20px 0px;}
            }
            .casestudylistingBoxes{
                .caseStudyBoxes{width: 100%;margin-top: 40px;
                    &:nth-child(odd){margin-top: 40px;}
                    .caseStudydesc{margin: 20px 24px;
                        h3{line-height: 28px;margin: 10px 0px;font-size: 18px;}
                        img{width: 12px;}
                    }
                }
            }
        }
    }   
}



  
  
 
  
  