.collaborateFormSec{margin: 100px 0px 400px;
    .collaborateSec{@include wrapperTwo; display: flex; flex-flow: wrap; justify-content: space-between; padding-right: 60px !important;
        .secHeading{width: 45%; margin-top: 120px;position:sticky;height:100%;top:220px;
            h1{@include font96;font-weight: $fontW500;line-height: 106px;letter-spacing: -2px;margin-bottom: 15px;}
            p{@include font24;font-weight: $fontW400;line-height: 34px;color: #6A6A6A;}
        }
        .collaborateForm{width: 40%; padding: 60px 60px 40px;background: #ffffff;
            form{
                br{display: none;}
                label{display: block;color: #6A6A6A;@include font18;font-weight: $fontW400;line-height: 14px;margin:60px 0px 12px;
                    &:first-child{margin-top: 0px}
                }
                input, textarea{@include font28;font-weight: $fontW500;line-height: 24px;letter-spacing: -0.56px;color: #000000;padding-bottom: 12px;border-bottom: 1px solid #000000;width: 100%;caret-color: red;}
                input[type=submit]{@include font14;font-weight: $fontW700;line-height: 18px;letter-spacing: 0.7px;text-transform: uppercase;color: #ffffff;border: 0px;width: auto;margin: 0;padding: 14px 28px;border-radius: 6px;border: 1px solid #FF0D47;background: #FF0D47;cursor: pointer;margin-top:60px;}
                .form-group{margin-top: 60px;display: flex;justify-content: space-between;align-items: flex-start;
                    p{display: flex;justify-content: space-between;align-items: flex-start;}
                    label{width: 94%;@include font16;line-height: 28px;font-weight: 400;margin-bottom: 0px;margin-top: 0px;
                        a{font-weight: $fontW600;color: #6A6A6A;}}
                        input[type=checkbox] {position: relative;border: 2px solid #000;border-radius: 6px;background: transparent;margin: 5px 15px 0px 0px;cursor: pointer;height: 28px; width: 28px;-webkit-appearance: none;opacity: .5;padding-bottom: 0px;
                        &:checked {background-color: #000;opacity: 1;}
                        &:before { content: '';position: absolute;right: 50%;top: 50%;width: 4px;height: 10px;border: solid #FFF;border-width: 0 2px 2px 0;margin: -1px -1px 0 -1px;transform: rotate(45deg) translate(-50%, -50%);z-index: 2;}
                    }  
                    .wpcf7-list-item{margin: 0px !important}
                }
                .wpcf7-not-valid-tip{@include font16;color: red;margin-top: 5px;}
                .wpcf7-response-output{margin-top: 20px;@include font16;color: red;}
            }
        }
    }
    @media screen and (max-width:1600px) {
        margin: 100px 0px 300px;

        .collaborateSec{padding-right: 60px !important;
            .secHeading{margin-top: 100px;top:200px;
                h1{line-height: 86px;}
                p{line-height: 30px;}
            }
            .collaborateForm{padding: 50px 50px 30px;
                form{
                    label{margin:50px 0px 12px;}
                    input[type=submit]{padding: 12px 24px;margin-top:50px;}
                    .form-group{margin-top: 50px;
                        label{line-height: 25px;}
                        input[type=checkbox] {margin: 5px 12px 0px 0px;height: 24px; width: 24px;
                            &:before {width: 4px;height: 8px;}
                        }  
                    }
                }
            }
        }
    }
    @media screen and (max-width:1400px) {
        margin: 100px 0px 250px;

        .collaborateSec{padding-right: 40px !important;
            .secHeading{margin-top: 80px;width: 40%;top:180px;}
            .collaborateForm{padding: 40px 40px 20px;width: 50%;
                form{
                    label{margin:30px 0px 12px;}
                    input[type=submit]{padding: 12px 24px;margin-top:30px;}
                    .form-group{margin-top: 30px;
                        label{line-height: 22px;}
                        input[type=checkbox] {margin: 5px 10px 0px 0px;height: 20px; width: 20px;
                            &:before {width: 4px;height: 8px;}
                        }  
                    }
                }
            }
        }
    }
    @media screen and (max-width:1200px) {
        margin: 100px 0px 200px;
    }
    @media screen and (max-width:1024px) {
        margin: 100px 0px 150px;
        .collaborateSec{
            .secHeading{margin-top: 80px;
                h1{line-height: 70px;}
                p{line-height: 26px;}
            }
            .collaborateForm{padding: 40px 40px 20px;
                form{
                    label{margin:50px 0px 12px;}
                    input[type=submit]{padding: 12px 24px;margin-top:50px;}
                    .form-group{margin-top: 50px;
                        label{line-height: 20px;}
                        input[type=checkbox] {margin: 5px 8px 0px 0px;
                            &:before {width: 4px;height: 8px;}
                        }  
                    }
                }
            }
        }
    }
    @media screen and (max-width:820px) {
        margin: 80px 0px 150px;
        .collaborateSec{padding-right: 50px !important;
            .secHeading{width: 100%; margin-top: 50px; margin-bottom:40px;
                h1{line-height: 70px;}
                p{line-height: 26px;}
            }
            .collaborateForm{padding: 50px 50px 30px;width: 115%;margin-left: -50px;margin-right: -50px;
                form{
                    label{margin:50px 0px 12px;}
                    input[type=submit]{padding: 12px 24px;}
                    .form-group{
                        label{line-height: 24px;width: 100%;font-size: 14px;color: #000;
                            a{color: #000;}
                        }
                        input[type=checkbox] {margin: 5px 12px 0px 0px;height: 18px; width: 18px;border-radius: 4px;
                            &:before {width: 3px;height: 7px;}
                        }  
                    }
                }
            }
        }
    }
    @media screen and (max-width:720px) {
        .collaborateSec{padding-right: 20px !important;
            .secHeading{width: 100%; margin-top: 50px; margin-bottom:40px;position:static;height:auto;
                h1{line-height: 50px;}
                p{color: #000;}
            }
            .collaborateForm{padding: 40px 25px 20px;width: 115%;margin-left: -20px;margin-right: -20px;
                form{
                    label{margin:30px 0px 8px;}
                    input[type=submit]{padding: 12px 24px;width: 100%;margin-top: 30px;}
                    .form-group{margin-top: 30px;}
                }
            }
        }
    }
}

.meetupAdderssSec{margin-bottom: 250px;
    .meetupAdderssContainer{@include wrapperTwo;
        .secHeading{width: 40%; margin-bottom:150px;
            h2{color: #000; @include font64; font-weight: $fontW500;line-height: 74px;letter-spacing: -1.92px;margin-bottom: 15px;}
            p{@include font24;font-weight: $fontW400;line-height: 34px;color: #6A6A6A;}
        }
        .meetupAdderssContent{display: flex;justify-content: space-between;flex-wrap: wrap;
            .meetupAddBox{width: 40%;margin-bottom: 150px; background: #ffffff;overflow: hidden; height: 800px;position: relative;
                &:nth-child(even){margin-top: -24%;}
                &:last-child{margin-left: auto;margin-top: -24%;}
                &:first-child{transform: translateY(0px);}
                .stateOff{transition: 0.6s all ease-in-out;height: 200px;overflow: hidden;position: absolute;top: 30px;
                    &.mumbaiOff{left: -800px; width: 800px;animation: mumbaiOff 6s linear infinite;}
                    &.delhiOff{left: -500px; width: 500px;animation: delhiOff 6s linear infinite;}
                    &.bangaloreOff{left: -1000px; width: 1000px;animation: bangaloreOff 8s linear infinite;}
                }
                @keyframes mumbaiOff {
                    0% {
                        transform: translateX(calc(#{800px} + #{800px}));
                    }
                }
                @keyframes delhiOff {
                    0% {
                        transform: translateX(calc(#{500px} + #{500px}));
                    }
                }
                @keyframes bangaloreOff {
                    0% {
                        transform: translateX(calc(#{1000px} + #{1000px}));
                    }
                }
                .stateAddMap{transition: 0.6s all ease-in-out;height: 75%; margin-top: 200px;
                    .stateAdd{padding: 50px 50px;
                        p{color: #5A5A5A;@include font20;font-weight: $fontW400;line-height: 30px;}
                    }
                    .stateMap{position: relative;
                        .mapLink{position: absolute;top: 0;left: 0;right: 0;width: 100%;height: 100%;background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.80) 100%); display: flex; justify-content: center; align-items: center; opacity: 0; transition: 0.6s all ease-in-out;
                            a{color: #FFF;text-align: center;@include font20;font-weight: $fontW700;line-height: 18px;letter-spacing: 1px;text-transform: uppercase;display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;
                                img{margin-left: 10px;width: 20px;}
                            }
                        }
                    }
                }
                &:hover{
                    .stateOff{height: 0;transform: translateY(-250px);}
                    .stateAddMap{height: 100%;margin-top: 0px;
                        .stateMap{
                            .mapLink{opacity: 1;}
                        }
                    }
                }
                &.mailContact{
                    background: #000000;
                    .mailIcon{height: 48%;
                        img{transform: translate(-10%, -15%);width: 55%;transition: 0.5s all ease-out;}
                    }
                    .MailIds{
                        .idsBox{border-bottom: 1px solid rgba(255,255,255,0.3);margin: 0px 50px 30px;padding-bottom:30px;position: relative;
                            &:first-child{margin-top: 0px;}
                            &:last-child{border-bottom: 0px;}
                            &::before{content: "";position: absolute;background: url(../images/service-arrow.svg)  no-repeat;background-size: contain;top: 50%;transform: translateY(-50%);right: -100px;height: 20px;width: 20px;transition: 0.5s all ease-out;}
                            h3{color: #FFF;@include font40;font-weight: $fontW500;line-height: 40px;letter-spacing: -1.2px;margin-bottom: 14px;}
                            a{color: #FFF;@include font20;font-weight: $fontW400;line-height: 20px;}
                            &:hover{&::before{right: 24px;}}
                        }
                    }
                    &:hover{
                        .mailIcon{
                            img{transform: translate(120%, -15%) rotate(-30deg);width: 50%;}
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:1920px) {
        .meetupAdderssContainer .meetupAdderssContent .meetupAddBox.mailContact .mailIcon img{width: 80%;}
    }

    @media screen and (max-width:1600px) {
        margin-bottom: 180px;
        .meetupAdderssContainer{
            .secHeading {margin-bottom: 120px;
                h2{line-height: 62px;}
            }
            .meetupAdderssContent{
                .meetupAddBox {margin-bottom: 120px;height: 700px;
                    .stateOff{height: 150px;top: 15px;
                        &.delhiOff{left: -400px;width: 400px;}
                        &.mumbaiOff{left: -700px;width: 700px;}
                        &.bangaloreOff{left: -780px;width: 780px;}
                    }
                    .stateAddMap{margin-top: 150px;
                        .stateAdd{padding: 40px;}
                        .stateMap .mapLink a img{width: 14px;}
                    }
                    &.mailContact{
                        .mailIcon{height: 45%;
                            img{width: 75%;}
                        }
                        .MailIds{
                            .idsBox{margin: 0px 40px 25px;
                                &::before{width: 14px;height: 14px;}
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:1440px) {
        margin-bottom: 150px;
        .meetupAdderssContainer{
            .secHeading {margin-bottom: 100px;
                h2{line-height: 62px;}
            }
            .meetupAdderssContent{
                .meetupAddBox {margin-bottom: 100px;height: 600px;
                    .stateOff{height: 120px;top: 15px;
                        &.delhiOff{left: -300px;width: 300px;}
                        &.mumbaiOff{left: -600px;width: 600px;}
                        &.bangaloreOff{left: -620px;width: 620px;}
                    }
                    .stateAddMap{margin-top: 120px;
                        .stateAdd{padding: 25px;}
                        .stateMap .mapLink a img{width: 12px;}
                    }
                    &.mailContact{
                        .mailIcon{height: 38%;
                            img{width: 65%;}
                        }
                        .MailIds{
                            .idsBox{margin: 0px 30px 25px;
                                &::before{width: 12px;height: 12px;}
                            }
                        }
                    }
                }
                .meetupAddBox:nth-child(even){
                    margin-top: -28%;
                }
            }
        }
        
    }
    @media screen and (max-width:1200px) {
        margin-bottom: 100px;
        .meetupAdderssContainer{
            .secHeading {margin-bottom: 80px;
                h2{line-height: 54px;}
            }
            .meetupAdderssContent{
                .meetupAddBox {margin-bottom: 80px;height: 550px;
                    .stateAddMap{
                        .stateAdd{padding: 20px;}
                        .stateMap .mapLink a img{width: 10px;}
                    }
                    &.mailContact{
                        .mailIcon{height: 35%;
                            img{width: 60%;}
                        }
                        .MailIds{
                            .idsBox{margin: 0px 25px 20px;}
                        }
                    }
                }
                .meetupAddBox:nth-child(even){
                    margin-top: -24%;
                }
            }
        }
    }
    @media screen and (max-width:1024px) {
        margin-bottom: 150px;
        .meetupAdderssContainer{
            .secHeading{margin-bottom: 60px;
                h2{line-height: 52px;}
            }
            .meetupAdderssContent{
                .meetupAddBox {width: 45%;
                    .stateAddMap{
                        .stateAdd{padding: 15px;}
                        .stateMap .mapLink a img{width: 12px;}
                    }
                    &.mailContact{
                        .mailIcon{height: 30%;
                            img{width: 55%;}
                        }
                        .MailIds{
                            .idsBox{margin: 0px 22px 18px;}
                        }
                    }
                }
                .meetupAddBox:nth-child(even){
                    margin-top: -24%;
                }
            }
        }
    }
    @media screen and (max-width:820px) {
       .meetupAdderssContainer{
            .secHeading{margin-bottom: 40px;width: 100%;
                h2{line-height: 40px;margin-bottom: 20px;}
                p{line-height: 24px;}
            }
            .meetupAdderssContent{flex-wrap: unset;flex-direction: column;
                .meetupAddBox {width: 100%;height: auto;margin-bottom: 40px;
                    &:nth-child(even){margin-top: unset;}
                    &:last-child{margin-top: unset;}
                    .stateOff{
                        &.mumbaiOff{width: 500px;}
                    }
                    .stateAddMap{margin-top: 100px;
                        .stateAdd{padding: 30px 24px;
                            p{font-size: 14px;line-height: 24px;}
                        }
                    }
                    &.mailContact{
                        margin-bottom: 0px;
                        order: 1;
                        &:hover{
                            .mailIcon{
                                img{transform: translate(170%, -15%) rotate(-30deg);width: 40%;}
                            }
                        }
                        .mailIcon{height: 30%;
                            img{transform: translate(170%, -15%) rotate(-30deg);width: 40%;}
                        }
                        .MailIds{
                            .idsBox{margin: 0px 24px 30px;
                                &:last-child{padding-bottom: 55px;}
                                h3{font-size: 24px;line-height: 34px;}
                                a{font-size: 16px;line-height: 26px;}
                                &::before{right: 24px;}
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:720px) {
        .meetupAdderssContainer{
             .secHeading{
                 p{color: #000;}
             }
             .meetupAdderssContent{
                 .meetupAddBox {
                     .stateAddMap{
                         .stateAdd{
                             p{color: #000;}
                         }
                     }
                 }
             }
         }
     }
}