
.videoSection{margin: 210px 0px 400px;
    .videosecWrapper{
        .secHeading{@include wrapperTwo;margin-bottom: 174px;
            h1{@include font96;font-weight: $fontW500;line-height: 106px;letter-spacing: -2px;width: 60%;}
        }
        .videoDiv{@include wrapper;position:relative;
            .sound-sec{position: absolute;right: 120px;bottom: 60px;display: flex;align-items: center;
                p{@include font20;font-weight: $fontW400;margin-right: 16px;color: #fff;text-align: right;}
                .sound-btn{
                    .sound-enable{display: none;width: 50px;height: 50px;}
                    .sound-disable{width: 50px;height: 50px;}
                }
            }
        }
        video{width: 100%;height: 100%;}
        .ctaDiv{display: none;}
    }
    @media screen and (max-width:1800px) {
        margin: 190px 0px 300px;
    }
    @media screen and (max-width:1600px) {
        margin: 190px 0px 200px;
        .videosecWrapper{
            .secHeading{margin-bottom: 150px;
                h1{width: 70%;line-height: 90px;}
            }
            .videoDiv{
                .sound-sec{right: 100px;bottom:50px;
                    p{margin-right: 16px;}
                    .sound-btn{
                        .sound-enable{width: 40px;height: 40px;}
                        .sound-disable{width: 40px;height: 40px;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1400px) {
        margin: 170px 0px 180px;
        .videosecWrapper{
            .secHeading{margin-bottom: 120px;
                h1{width: 75%;}
            }
            .videoDiv{
                .sound-sec{right: 80px;bottom:40px;
                    p{margin-right: 15px;}
                    .sound-btn{
                        .sound-enable{width: 35px;height: 35px;}
                        .sound-disable{width: 35px;height: 35px;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1280px) {
        margin: 170px 0px 150px;
        .videosecWrapper{
            .secHeading{margin-bottom: 120px;
                h1{width: 75%;line-height: 90px;}
            }
        }
    }
    @media screen and (max-width:1024px) {
        margin: 140px 0px 100px;
        .videosecWrapper{
            .secHeading{margin-bottom: 80px;
                h1{width: 90%;line-height: 78px;}
            }
            .videoDiv{@include wrapper;
                .sound-sec{right: 60px;bottom: 30px;
                    p{margin-right: 15px;}
                    .sound-btn{
                        .sound-enable{width: 30px;height: 30px;}
                        .sound-disable{width: 30px;height: 30px;}
                    }
                }
            }
        }
    }
    
    @media screen and (max-width:680px) {
        margin: 100px 0px 150px;
        .videosecWrapper{
            .secHeading{margin-bottom: 50px;
                h1{line-height: 50px;font-size: 40px;}
            }
                .videoDiv{padding: 0px;
                    .sound-sec{right: 20px;bottom: 20px;
                        p{margin-right: 12px;font-size: 12px;}
                        .sound-btn{
                            .sound-enable{width: 20px;height: 20px;}
                            .sound-disable{width: 20px;height: 20px;}
                        }
                    }
                }
            
            .ctaDiv{display: block;text-align: center;margin-top: 40px;
                a{border-radius: 6px;background-color: #FF0D47;padding: 14px 25px;margin: 0px 40px;color: #FFF;border: none;margin: 0 auto;font-size: 14px;line-height: 18px;width: 90%;}
            }
        }
    }
}

.caseStudyhpsection{margin-bottom: 450px;
    .casestudyWrapper{@include wrapperTwo;
        .secHeading{width: 41%;
            h2{@include font64;font-weight: $fontW500;line-height: 74px;letter-spacing: -1.5px;}
            p{@include font24;font-weight: $fontW400;line-height: 34px;margin-top: 20px;color: #6A6A6A;}
        }
        .casestudyBoxes{display: flex;justify-content: space-between;flex-wrap: wrap;align-items: flex-start;
            .caseStudyinnerBoxes{width: 40%;margin-top: 150px;position: relative;overflow: hidden;height: auto !important;
                &:nth-child(even){margin-top: -10%;}
                &:nth-child(3){animation-delay: 0.7s;}
                &:nth-child(4){animation-delay: 0.9s;}
                .casestudyImg img{transform:scale(1.08);transition: 0.7s all ease-out; }
                .casestudyImg{
                    &::before{content: "";position: absolute;height: 100%;width: 100%;opacity: 0.3;transition: 0.6s all ease-in-out;z-index: 1;}
                }
                .caseStudydesc{position: absolute;bottom: -100%;left: 0;right: 0;margin: 50px;transition: 0.7s all ease-in-out;z-index: 2;
                    h3{@include font32;font-weight: $fontW400;line-height: 42px;color: #fff;margin: 30px 0px;display: block;display: -webkit-box;max-width: 100%;-webkit-line-clamp: 3;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
                    h4{@include font16;font-weight: $fontW600;line-height: 14px;color: #fff;letter-spacing: 0.8px;text-transform: uppercase;}
                }
                &:hover{
                    .casestudyImg { position: relative; img{transform: scale(1);transition: 0.3s all ease-out;}
                        &::before{background: #000;transition: 0.6s all ease-in-out;}
                    }
                    .caseStudydesc{bottom: 0;transition: 0.3s all ease-in-out;}
                }
            }
        }
        .ctaDiv{text-align: right;margin-top: -10%;
            .ctaWhite{width: 40%;text-align: center;}
        }
    }

    @media screen and (max-width:1920px) {
        margin-bottom: 500px;
        .casestudyWrapper {
            .casestudyBoxes .caseStudyinnerBoxes{
                &:nth-child(even){margin-top: -20%;}
            }
            .ctaDiv{margin-top: -20%;}
        }
    }
    @media screen and (max-width:1800px) {
        .casestudyWrapper {
            .casestudyBoxes .caseStudyinnerBoxes{
                &:nth-child(even){margin-top: -22%;}
            }
            .ctaDiv{margin-top: -22%;}
        }
    }
    @media screen and (max-width:1600px) {
        margin-bottom: 350px;
        .casestudyWrapper{
            .secHeading{width: 43%;
                h2{line-height: 64px;}
                p{line-height: 28px;margin-top: 14px;}
            }
            .casestudyBoxes{
                .caseStudyinnerBoxes{margin-top: 120px;
                    &:nth-child(even){margin-top: -19%;}
                    .caseStudydesc{margin: 40px;
                        h3{line-height: 32px;;margin: 25px 0px;}
                        h4{line-height: 1;}
                    }
                }
            }
            .ctaDiv{margin-top: -19%;}
        }
    }
    @media screen and (max-width:1400px) {
        margin-bottom: 320px;
        .casestudyWrapper{
            .secHeading{width: 45%;
                h2{line-height: 60px;}
                p{line-height: 26px;margin-top: 12px;}
            }
            .casestudyBoxes{
                .caseStudyinnerBoxes{width: 43%;margin-top: 100px;
                    &:nth-child(even){margin-top: -22%;}
                    .caseStudydesc{margin: 35px;
                        h3{line-height: 28px;;margin: 20px 0px;}
                        img{width: 14px;}
                    }
                }
            }
            .ctaDiv{.ctaWhite{width: 43%;}margin-top: -20%;}
        }
    }
    @media screen and (max-width:1280px) {
        margin-bottom: 220px;
        .casestudyWrapper{
            .secHeading{
                h2{line-height: 54px;}
                p{line-height: 24px;margin-top: 16px;}
            }
            .casestudyBoxes{
                .caseStudyinnerBoxes{width: 42%;margin-top: 80px;
                    &:nth-child(even){margin-top: -15%;}
                    .caseStudydesc{margin: 30px;
                        h3{line-height: 26px;margin: 15px 0px;}
                    }
                }
            }
            .ctaDiv{.ctaWhite{width: 42%;}margin-top: -15%;}
        }
    }
    
    @media screen and (max-width:1025px) {
        margin-bottom: 100px;
        .casestudyWrapper{padding: 0px;
            .secHeading{width: 100%;padding: 0px 50px;
                h2{line-height: 48px;}
                p{line-height: 20px;margin-bottom: 4px;}
            }
            .casestudyBoxes{display: block;margin: 32px 0px 50px;
                .caseStudyinnerBoxes{width: unset;margin: 0px 0px 0px 55px;
                    &:nth-child(even){margin-top: unset;}
                    .casestudyImg{img{transform: scale(1);transition: 0.7s all ease-out;}
                        &::before{content: "";position: absolute;height: 100%;width: 100%;background: #000;opacity: 0.3;transition: 0.7s all ease-out;z-index: 1;}
                    }
                    .caseStudydesc{bottom: 0;margin: 16px;}
                }
            }
            .ctaDiv{.ctaWhite{width: auto;}margin-top: 0px;text-align: center;}
        }
    }

    @media screen and (max-width:820px) {
        .casestudyWrapper{
            .casestudyBoxes{
                .caseStudyinnerBoxes{margin: 0px 0px 0px 40px;
                }
            }
        }
    }
    @media screen and (max-width:680px) {
        margin-bottom: 150px;
        .casestudyWrapper{
            padding: 0px;
            .secHeading{h2{font-size: 30px;line-height: 40px;}p{font-size: 14px;margin-top: 4px;}padding: 0px 20px}
            .casestudyBoxes{
                .caseStudyinnerBoxes{margin: 0px 10px 0px;
                    .caseStudydesc{
                        h3{font-size: 18px;line-height: 28px;margin: 10px 0px;}
                        img{width: 12px;}
                    }
                }
            }
            .ctaDiv{.ctaWhite{width: 100%;}padding: 0px 20px}
        }
    }
}

.servicehpSection{margin-bottom: 400px;
    .serviceSecwrapper{
        .secHeading{@include wrapperTwo;display: flex;align-items: flex-end;justify-content: space-between;margin-bottom:60px;
            .innerHeading{width: 50%;
                h2{@include font64;font-weight: $fontW500;line-height: 74px;letter-spacing: -1.5px;}
                p{@include font24;font-weight: $fontW400;line-height: 34px;margin-top: 20px;color: #6A6A6A;}
            }
            .ctaService{display: none}
        }
        .serviceBoxes{@include wrapper;
            .servicesinnerBox{background: #000;overflow: hidden;margin-top: 60px;transition: 0.7s all ease-out;
                &:nth-child(1){margin-top: 0px;}
                a{display: flex;align-items: center;justify-content: space-around;padding: 62px 0px;
                    .imgBox{width: 25%;transition: 0.7s all ease-out;}
                    .serviceDesc{width: 50%;transition: 0.7s all ease-out;position: relative;
                        &::before{content: "";position: absolute;background: url(../images/service-arrow.svg)  no-repeat;background-size: contain;top: 0;right: -100%;height: 20px;width: 20px;transition: 0.7s all ease-out;}
                        h3{@include font36;font-weight: $fontW500;line-height: 46px;letter-spacing: -1px;color: #fff;padding-bottom: 30px;}
                        ul{padding-left: 30px;
                            li{@include font20;font-weight: $fontW400;line-height: 30px;color: #C9C9C9;list-style: disc;padding-top:5px;strong{color: #C9C9C9;}}
                        }
                    }
                }
                &:hover{
                    transition: 0.7s all ease-out;
                    a{
                        .serviceDesc{width: 33%;transition: 0.7s all ease-out;
                            &::before{right: -70px;transition: 0.7s all ease-out;}
                        }
                        .imgBox{scale: 2.1;transition: 0.7s all ease-out;}
                    }
                }
            }
        }
        .ctaDiv{@include wrapper;margin-top: 40px;a{width: 100%;}}
    }
    @media screen and (max-width:1600px) {margin-bottom: 250px;
        .serviceSecwrapper{
            .secHeading{margin-bottom:50px;
                .innerHeading{
                    h2{line-height: 60px;letter-spacing: 0.5px;}
                    p{line-height: 28px;margin-top: 14px;}
                }
            }
            .serviceBoxes{
                .servicesinnerBox{margin-top: 50px;
                    a{padding: 55px 0px;
                        .imgBox{width: 23%;}
                        .serviceDesc{width: 53%;
                            &::before{height: 18px;width: 18px;}
                            h3{line-height: 36px;letter-spacing: 0.4px;padding-bottom: 25px;}
                            ul{padding-left: 25px;
                                li{line-height: 24px;}
                            }
                        }
                    }
                    &:hover{
                        a{
                            .serviceDesc{width: 35%;
                                &::before{right: -70px;}
                            }
                        }
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:1400px) {margin-bottom: 200px;
        .serviceSecwrapper{
            .secHeading{margin-bottom:40px;
                .innerHeading p{margin-top: 12px;}
            }
            .serviceBoxes{
                .servicesinnerBox{margin-top: 40px;
                    a{padding: 45px 0px;
                        .serviceDesc{
                            &::before{height: 16px;width: 16px;}
                            h3{padding-bottom: 20px;}
                            ul{
                                li{line-height: 22px;}
                            }
                        }
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:1280px) {margin-bottom: 150px;
        .serviceSecwrapper{
            .secHeading{margin-bottom:30px;
                .innerHeading{
                    h2{line-height: 52px;}
                    p{line-height: 26px;}
                }
            }
            .serviceBoxes{
                .servicesinnerBox{margin-top: 30px;
                    a{padding: 30px 0px;
                        .serviceDesc{
                            &::before{height: 14px;width: 14px;}
                            h3{padding-bottom: 16px;}
                            ul{
                                li{line-height: 23px;}
                            }
                        }
                    }
                }
            }
        }
        
    }

    @media screen and (max-width:1024px) {margin-bottom: 100px;
        .serviceSecwrapper{padding: 0px;
            .secHeading{display: block;margin-bottom:0px;
                .innerHeading{width: 100%;
                    p{margin-top: 8px;}
                }
                .ctaService{display: none;}
            }
            .serviceBoxes{padding: 0px;margin: 32px 0px;
                .servicesinnerBox{margin: 0px 0px 0px 55px;
                    a{display: block;padding: 0px 16px 55px;
                        .imgBox{width: 65%;transform: translateY(0px);margin-bottom: 40px;}
                        .serviceDesc{width: 100%;position: relative;
                            &::before{right: 16px;top: 10px;}
                            h3{line-height: 32px;letter-spacing: 1px;padding-bottom: 25px;}
                        }
                    }
                    &:hover{
                        a{
                            .serviceDesc{width: 100%;
                                &::before{right: 16px;}
                            }
                            .imgBox{scale: unset;}
                        }
                    }
                }
            }
            .ctaDiv{.ctaWhite{width: auto;}margin-top: 0px;text-align: center;display: block;}
        }
        
    }
    @media screen and (max-width:820px) {
        .serviceSecwrapper{
            .serviceBoxes{
                .servicesinnerBox{margin: 0px 0px 0px 40px;
                }
            }
        }
    }
    @media screen and (max-width:680px) {margin-bottom: 150px;
        .serviceSecwrapper{
            .secHeading{
                .innerHeading{
                    h2{font-size: 30px;line-height: 40px;letter-spacing: -0.9px;}
                    p{font-size: 14px;line-height: 24px;margin-top: 4px;}
                }
            }
            .serviceBoxes{
                padding: 0px;
                .servicesinnerBox{margin: 0px 10px 0px;
                    a{
                        .serviceDesc{
                            h3{font-size: 20px;line-height: 34px;letter-spacing: -0.6px;padding-bottom: 20px;}
                            ul{
                                li{letter-spacing: -0.42px;}
                            }
                        }
                    }
                }
            }
            .ctaDiv{.ctaWhite{width: 100%;}padding: 0px 20px}
        }
        
    }
}

.storyhpSection{margin-bottom: 400px;
    .storysecWrapper{@include wrapperTwo;
        .secHeading{
            h2{@include font64;font-weight: $fontW500;line-height: 74px;letter-spacing: -1.9px;}
            p{@include font24;font-weight: $fontW400;line-height: 34px;margin-top: 20px;color: #6A6A6A;}
        }
        .storyMaindiv{
            .mainInfodiv{margin-top: 100px;background: #fff;display: flex;align-items: center;
                &:nth-child(even){flex-direction: row-reverse;}
                &:first-child{
                    .imageDiv{background: conic-gradient(from 45deg at 0% 100%, #F00 0deg, #FAFF00 58.12499821186066deg, #05FB00 116.24999642372131deg, #00FFE0 185.625deg, #0029FF 247.5deg, #FF00D6 305.6249928474426deg, #F00 360deg);position: relative;padding: 50px 0px;
                        .blurDiv{position: absolute;height: 100%;width: 100%;background: rgba(255, 255, 255, 0.50);backdrop-filter: blur(125px);top: 0;bottom: 0;left: 0;right: 0;}
                    }
                }
                .imageDiv{width: 37%;}
                .storyDescdiv{width: 63%;padding: 50px 150px;
                    h3{@include font40;font-weight: $fontW400;line-height: 47px;margin: 30px 0px;}
                    h4{@include font20;font-weight: $fontW500;line-height: 30px;text-transform: uppercase;}
                    p{@include font24; font-weight: $fontW400;line-height: 141%;color: #6A6A6A;margin-bottom: 30px;}
                }
            }
        }
    }

    @media screen and (max-width:1600px) {margin-bottom: 250px;
        .storysecWrapper{
            .secHeading{
                h2{line-height: 60px;letter-spacing: 0.5px;}
                    p{line-height: 28px;margin-top: 14px;}
            }
            .storyMaindiv{
                .mainInfodiv{margin-top: 80px;
                    &:first-child{
                        .imageDiv{padding: 40px 0px;}
                    }
                    .imageDiv{width: 40%;}
                    .storyDescdiv{width: 60%;padding: 40px 120px;
                        h3{line-height: 37px;margin: 28px 0px;}
                        h4{line-height: 1;}
                        p{margin-bottom: 28px;}
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:1400px) {margin-bottom: 200px;
        .storysecWrapper{
            .secHeading{
                p{margin-top: 12px;}
            }
            .storyMaindiv{
                .mainInfodiv{margin-top: 60px;
                    .imageDiv{width: 37%;}
                    .storyDescdiv{width: 63%;padding: 40px 100px;
                        h3{margin: 24px 0px;}
                        h4{letter-spacing: 0.2px;}
                        p{margin-bottom: 24px;}
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:1280px) {margin-bottom: 150px;
        .storysecWrapper{
            .secHeading{
                h2{line-height: 52px;}
                p{line-height: 26px;margin-top: 16px;}
            }
            .storyMaindiv{
                .mainInfodiv{margin-top: 50px;
                    &:first-child{.imageDiv{padding: 30px 0px;}}
                    .imageDiv{width: 40%;}
                    .storyDescdiv{width: 60%;padding: 30px 70px;
                        h3{line-height: 28px;margin: 22px 0px;}
                        p{margin-bottom: 22px;}
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:1025px) {margin-bottom: 100px;
        .storysecWrapper{
            .secHeading{
                p{margin-top: 8px;}
            }
            .storyMaindiv{
                .mainInfodiv{margin-top: 40px;
                    .storyDescdiv{padding: 0px 50px;
                        h3{line-height: 27px;margin: 20px 0px;}
                        p{margin-bottom: 20px;}
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:820px) {
        .storysecWrapper{
            .storyMaindiv{
                .mainInfodiv{
                    .imageDiv{width: 35%;}
                    .storyDescdiv{padding: 0px 40px;width: 65%;;
                        h2{line-height: 24px;font-size: 18px;}
                        p{font-size: 10px;}
                    }
                }
            }
        }
        
    }
    @media screen and (max-width:680px) {margin-bottom: 150px;
        .storysecWrapper{
            .secHeading{
                h3{font-size: 30px;line-height: 30px;letter-spacing: -0.9px;}
                p{font-size: 14px;line-height: 20px;margin-top: 4px;}
            }
            .storyMaindiv{
                .mainInfodiv{margin-top: 30px;flex-direction: column;
                    &:nth-child(even){flex-direction: column;}
                    &:first-child{.imageDiv{padding: 0px;}}
                    .imageDiv{width: 100%;}
                    .storyDescdiv{padding: 20px 20px;width: 100%;
                        h3{line-height: 22px;font-size: 18px;}
                        h4{font-size: 10px;font-weight: 700;}
                    }
                }
            }
        }
        
    }
}

.bookhpSection{margin-bottom: 400px;@include wrapper;
    .booksecWrapper{background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(135deg, #F00 0%, #FAFF00 14.15%, #05FB00 28.29%, #00FFE0 45.56%, #0029FF 60.75%, #FF00D6 75.9%, #F00 100%);padding: 115px 0px 65px;position: relative;  background-size: 400% 400%;
        -webkit-animation: ani 15s ease infinite;
        -moz-animation: ani 15s ease infinite;
        animation: ani 15s ease infinite;
        @-webkit-keyframes ani {
          0%{background-position:0% 0%}
          50%{background-position:50% 100%}
          100%{background-position:50% 0%} 
        }
       @-moz-keyframes ani {
          0%{background-position:0% 0%}
          50%{background-position:50% 100%}
          100%{background-position:50% 0%}
       }
       @keyframes ani { 
          0%{background-position:0% 0%}
          50%{background-position:50% 100%}
          100%{background-position:50% 0%}
       }
        .bookInfodiv{position: absolute;top: 150px;left: 130px;width: 29%;
            h2{@include font64;font-weight: $fontW500;line-height: 74px;letter-spacing: -1.5px;}
            p{@include font24;font-weight: $fontW400;line-height: 34px;margin-top: 20px;}
        }
        .bookImgdiv{transform: rotate(5deg);transition: 0.7s all ease-out;width: 25%;position: relative;z-index: 2;margin: 0 auto;
            .bookRotatesvg{margin: 0 auto;transition: 0.7s all ease-out;position: relative;z-index: 2;}
            .opacityShadow{transition: 0.7s all ease-out;}
        }
        .ctaDiv{position: absolute;bottom: 245px;right: 150px;z-index: 2;}
        .shadowDiv{position: absolute;width: 100%;left: 0;right: 0;height: 170px;bottom: 0;z-index: 1;; backdrop-filter: blur(16px) saturate(180%);
            -webkit-backdrop-filter: blur(16px) saturate(180%);
            background-color: rgba(255, 255, 255, 0.5);}
        &:hover{
            .bookImgdiv{
                .bookRotatesvg{transform: rotate(-5deg);transition: 0.7s all ease-out;}
                .opacityShadow{opacity: 0.6;transition: 0.7s all ease-out;}
            }
        }
    }
    @media screen and (max-width:1600px) {margin-bottom: 250px;
        .booksecWrapper{padding: 100px 0px 55px;
            .bookInfodiv{top: 160px;left: 80px;width: 30%;
                h2{line-height: 60px;}
                p{line-height: 26px;margin-top: 14px;}
            }
            .bookImgdiv{width:25%;margin: 0 auto;}
            .ctaDiv{bottom: 200px;right: 100px;}
            .shadowDiv{height: 140px;}
        }
        
    }
    @media screen and (max-width:1400px) {margin-bottom: 200px;
        .booksecWrapper{padding: 70px 0px 45px;
            .bookInfodiv{top: 160px;left: 80px;width: 30%;
                h2{line-height: 55px;}
                p{line-height: 22px;margin-top: 12px;}
            }
            .bookImgdiv{width:23%;}
            .ctaDiv{bottom: 170px;right: 80px;}
            .shadowDiv{height: 100px;}
        }
        
    }
    @media screen and (max-width:1280px) {margin-bottom: 150px;
        .booksecWrapper{padding: 60px 0px 35px;
            .bookInfodiv{top: 80px;left: 60px;
                h2{line-height: 50px;}
                p{line-height: 20px;margin-top: 16px;}
            }
            .ctaDiv{bottom: 150px;right: 60px;}
            
        }
        
    }
    @media screen and (max-width:1024px) {margin-bottom: 100px;
        .booksecWrapper{padding: 40px 0px 25px;
            .bookInfodiv{top: 80px;left: 40px;width: 32%;
                h2{line-height: 40px;font-size: 32px;letter-spacing: -0.5px;}
                p{line-height: 16px;font-size: 16px;margin-top: 8px;}
            }
            .ctaDiv{bottom: 80px;right: 40px;}
        }
        
    }
    @media screen and (max-width:820px) {margin-bottom: 150px;
        .booksecWrapper{padding: 30px 20px 50px;
            .bookInfodiv{width: 30%;top: 50px;
                h2{font-size: 26px;letter-spacing: -0.9px;line-height: 30px;}
                p{line-height: 1;font-size: 12px;margin-top: 12px;}
            }
            .ctaDiv{right: 24px;bottom: 50px;}
            .bookImgdiv{padding: 16px 0px;}
        }
        
    }
    @media screen and (max-width:680px) {
        .booksecWrapper{padding: 40px 24px 60px;
            .bookInfodiv{position: unset;width: 100%;
                h2{font-size: 30px;letter-spacing: -0.9px;line-height: 38px;}
                p{line-height: 1;font-size: 14px;margin-top: 4px;}
            }
            .bookImgdiv{width: 75%;margin: 16px 0 16px auto;.bookRotatesvg{transform: none !important;transition: none;}}
            .ctaDiv{right: 0;left: 0;bottom: 20px;text-align: center;}
            .shadowDiv{height: 150px;}
        }
        
    }
}

.ourPartnershpsec{margin-bottom: 400px;
    .ourpartnerWrapper{
        .secHeading{@include wrapperTwo;margin-bottom: 45px;width: 75%;
            h2{@include font64;font-weight: $fontW500;line-height: 74px;letter-spacing: -1.5px;}
            p{@include font24;font-weight: $fontW400;line-height: 34px;margin-top: 20px;color: #6A6A6A;}
        }
        .logoSlider{border-top: 1px solid #000;
            &:last-child{border-bottom: 1px solid #000;}
            .logoImg{padding: 70px 125px}
        }
    }
    @media screen and (max-width:1600px) {margin-bottom: 250px;
        .ourpartnerWrapper{
            .secHeading{margin-bottom: 35px;
                h2{line-height: 64px;}
                p{line-height: 28px;margin-top: 14px;}
            }
            .logoSlider{
                .logoImg{padding: 50px 100px}
            }
        }
        
    }
    @media screen and (max-width:1400px) {margin-bottom: 200px;
        .ourpartnerWrapper{
            .secHeading{margin-bottom: 30px;width: 70%;
                h2{line-height: 60px;}
                p{line-height: 26px;margin-top: 12px;}
            }
            .logoSlider{
                .logoImg{padding: 40px 80px}
            }
        }
        
    }
    @media screen and (max-width:1280px) {margin-bottom: 150px;
        .ourpartnerWrapper{
            .secHeading{margin-bottom: 20px;width: 60%;
                h2{line-height: 54px;}
                p{line-height: 24px;margin-top: 16px;}
            }
            .logoSlider{
                .logoImg{padding: 32px 60px}
            }
        }
        
    }
    @media screen and (max-width:1025px) {margin-bottom: 100px;
        .ourpartnerWrapper{
            .secHeading{width: 100%;
                h2{line-height: 48px;}
                p{line-height: 20px;margin: 8px 0px 40px;}
            }
            .logoSlider{
                .logoImg{padding: 32px 80px}
            }
        }
        
    }
    @media screen and (max-width:780px) {
        .ourpartnerWrapper{
            .logoSlider{
                .logoImg{padding: 32px 30px}
            }
        }
        
    }
    @media screen and (max-width:680px) {margin-bottom: 150px;
        .ourpartnerWrapper{
            .secHeading{h2{font-size: 30px;line-height: 40px;}p{font-size: 14px;margin-top: 4px;}}
            .logoSlider{
                .logoImg{padding: 25px 10px}
            }
        }
        
    }
}

.customerhpsection{margin-bottom: 400px;
    .customerWrapper{@include wrapperTwo;
        .secHeading{width: 41%; 
            h2{@include font64;font-weight: $fontW500;line-height: 74px;letter-spacing: -1.5px;}
            p{@include font24;font-weight: $fontW400;line-height: 34px;margin-top: 20px;color: #6A6A6A;}
        }
        .customerBoxes{display: flex;justify-content: space-between;flex-wrap: wrap;align-items: flex-start;
            .innerBoxes{width: 40%;margin-top: 150px;padding: 190px 70px;background-color: #fff;position: relative;overflow: hidden;transition: 0.7s all ease-out;height: auto;
                .topquoteImg{position: absolute;top: 0;left: 0;top: 0;left: 20px;height: 110px;width: 156px;transition: 0.7s all ease-out;
                    &:nth-child(2){top: unset;bottom: 0;right: 20px;left: unset;height: 102px;width: 156px;transition: 0.7s all ease-out;}
                }
                &:nth-child(even){margin-top: -10%;}
                .descInner{padding-bottom: 170px;transition: 0.7s all ease-out;
                    h3{@include font36; font-weight: $fontW500;line-height: 127%;color: #000;margin-bottom: 34px}
                    p{@include font24; font-weight: $fontW400;line-height: 34px;color: #6A6A6A;}
                }
                .customerData{transition: 0.7s all ease-out;
                    .customerImgdiv{border-radius: 50%;width: 85px;height: 85px;img{border-radius: 50%}}
                    h3{@include font20; font-weight: $fontW600;line-height: 1;letter-spacing: -0.6px;margin: 15px 0px 10px;}
                    h4{@include font14; font-weight: $fontW500;line-height: 1;color: #6A6A6A;}
                    ul{display: flex;align-items: center;margin-top: 10px;}
                }
                &:hover{
                    .descInner{transform: translateY(-20px);transition: 0.7s all ease-out;}
                    .customerData{transform: translateY(20px);transition: 0.7s all ease-out;}
                    .topquoteImg{transform: rotate(5deg) translateY(-15px);transition: 0.7s all ease-out;
                        &:nth-child(2){transform: rotate(-5deg) translateY(15px);transition: 0.7s all ease-out;}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1920px) {
        .customerWrapper{
            .customerBoxes  .innerBoxes{
                &:nth-child(even){margin-top: -20%;}
            }
        }
    }
    @media screen and (max-width:1800px) {
        .customerWrapper{
            .customerBoxes  .innerBoxes{
                &:nth-child(even){margin-top: -22%;}
            }
        }
    }
    @media screen and (max-width:1600px) {
        margin-bottom: 250px;
        .customerWrapper{
            .secHeading{width: 43%;
                h2{line-height: 64px;}
                p{line-height: 28px;margin-top: 14px;}
            }
            .customerBoxes{
                .innerBoxes{margin-top: 120px;padding: 140px 50px;
                    .topquoteImg{height: 90px;width: 136px;
                        &:nth-child(2){height: 90px;width: 136px;}
                    }
                    &:nth-child(even){margin-top: -14%;}
                    .descInner{padding-bottom: 140px;
                        h3{margin-bottom: 26px}
                        p{line-height: 30px;}
                    }
                    .customerData{
                        .customerImgdiv{width: 75px;height: 75px}
                        h3{margin: 12px 0px 10px;}
                    }
                    &:hover{
                        .descInner{transform: translateY(-15px);}
                        .customerData{transform: translateY(15px);}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1400px) {
        margin-bottom: 200px;
        .customerWrapper{
            .secHeading{width: 45%;
                h2{line-height: 60px;}
                p{line-height: 26px;margin-top: 12px;}
            }
            .customerBoxes{
                .innerBoxes{margin-top: 100px;padding: 120px 40px;width: 43%;
                    .topquoteImg{height: 70px;width: 110px;
                        &:nth-child(2){height: 70px;width: 110px;}
                    }
                    &:nth-child(even){margin-top: -22%;}
                    .descInner{padding-bottom: 120px;
                        h3{margin-bottom: 26px}
                    }
                    .customerData{
                        .customerImgdiv{width: 65px;height: 65px}
                    }
                    &:hover{
                        .descInner{transform: translateY(-12px);}
                        .customerData{transform: translateY(12px);}
                        &::before{transform: rotate(5deg) translateY(-10px);}
                        &::after{transform: rotate(-5deg) translateY(10px);}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1280px) {
        margin-bottom: 150px;
        .customerWrapper{
            .secHeading{
                h2{line-height: 54px;}
                p{line-height: 24px;margin-top: 16px;}
            }
            .customerBoxes{
                .innerBoxes{margin-top: 80px;padding: 100px 30px;width: 45%;
                    .topquoteImg{height: 50px;width: 90px;
                        &:nth-child(2){height: 50px;width: 90px;}
                    }
                    &:nth-child(even){margin-top: -15%;}
                    .descInner{padding-bottom: 100px;
                        h3{margin-bottom: 22px}
                    }
                    .customerData{
                        .customerImgdiv{width: 60px;height: 60px}
                    }
                    &:hover{
                        &::before{transform: rotate(5deg) translateY(-8px);}
                        &::after{transform: rotate(-5deg) translateY(8px);}
                    }
                }
            }
        }
    }
    @media screen and (max-width:1024px) {
        margin-bottom: 100px;
        .customerWrapper{padding: 0px;
            .secHeading{width: 100%;padding: 0px 50px;
                h2{line-height: 48px;}
                p{line-height: 20px;margin-top: 8px;}
            }
            .customerBoxes{display: block;margin: 32px 0px;
                .innerBoxes{padding: 100px 24px;width: unset;margin: 0px 0px 0px 55px;
                    .topquoteImg{height: 58px;width: 90px;
                        &:nth-child(2){height: 52px;width: 80px;}
                    }
                    &:nth-child(even){margin-top: unset;}
                    .descInner{padding-bottom: 60px;
                        h3{margin-bottom: 20px}
                    }
                    .customerData{
                        .customerImgdiv{width: 50px;height: 50px}
                    }
                    &:hover{
                        .descInner{transform: none;}
                        .customerData{transform:none;}
                        .topquoteImg{transform: none;
                            &:nth-child(2){transform: none}
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:820px) {
        .customerWrapper{
            .customerBoxes{
                .innerBoxes{margin: 0px 0px 0px 40px;
                }
            }
        }
    }
    @media screen and (max-width:680px) {
        margin-bottom: 150px;
        .customerWrapper{
            padding: 0px;
            .secHeading{padding: 0px 20px;h2{font-size: 30px;line-height: 40px;}p{font-size: 14px;margin-top: 4px;}}
            .customerBoxes{
                .innerBoxes{margin: 0px 10px 0px;
                    .descInner{padding-bottom: 40px;
                        h3{margin-bottom: 15px;font-size: 18px;}
                        p{font-size: 14px;line-height: 24px;color: #000;}
                    }
                    .topquoteImg{left: 30px;
                        &:nth-child(2){right: 30px;}
                    }
                    .customerData{
                        h3{font-size: 16px;line-height: 20px;}
                        h4{color: #000;}
                    }
                }
            }
        }
    }
}

.blogshpsection{margin-bottom: 400px;
    .blogsWrapper{@include wrapperTwo;
        .secHeading{width: 41%; 
            h2{@include font64;font-weight: $fontW500;line-height: 74px;letter-spacing: -1.5px;}
            p{@include font24;font-weight: $fontW400;line-height: 34px;margin-top: 20px;color: #6A6A6A;}
        }
        .blogsBoxes{display: flex;justify-content: space-between;flex-wrap: wrap;align-items: flex-start;
            .blogsinnerBoxes{width: 40%;margin-top: 150px;position: relative;overflow: hidden;transition: 0.7s all ease-out;height: auto;
               &:nth-child(even){margin-top: -7%;}
                .blogImg{img{scale: 1.1;transition: 0.7s all ease-out;}}
                    .blogDetails{background-color: #fff;padding: 58px 50px;margin: 30px;position: absolute;bottom: 0;transition: 0.7s all ease-out;left: 0;right: 0;
                        h3{@include font32; font-weight: $fontW400;line-height: 43px;margin-top: 30px;display: block;display: -webkit-box;max-width: 100%;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;transition: 0.7s all ease-out;}
                        h4{@include font16; font-weight: $fontW600;line-height: 1;letter-spacing: 0.8px;}
                        .blogArrowimg{position: absolute;right: 50px;bottom: -100%;transition: 0.7s all ease-out;img{height: 20px;width: 20px;}}
                }
                &:hover{
                    .blogImg{img{scale: unset;transition: 0.7s all ease-out;}}
                    .blogDetails{margin: 0px;transition: 0.7s all ease-out;padding: 58px 80px;
                        h3{margin-bottom: 40px;transition: 0.7s all ease-out;}
                        .blogArrowimg{bottom: 50px;transition: 0.7s all ease-out;}
                    }
                }
            }
        }
        .ctaDiv{text-align: right;margin-top: -7%;
            .ctaWhite{width: 40%;text-align: center;}
        }
    }

    @media screen and (max-width:1920px) {
        .blogsWrapper {
            .blogsBoxes .blogsinnerBoxes{
                &:nth-child(even){margin-top: -10%;}
            }
            .ctaDiv{margin-top: -10%;}
        }
    }

    @media screen and (max-width:1800px) {
        .blogsWrapper{
            .blogsBoxes .blogsinnerBoxes {
                &:nth-child(even){margin-top: -12%;}
                .blogDetails .blogArrowimg img{height: 15px;width: 15px;}
            }
            .ctaDiv{margin-top: -12%;}
        }    
    }
    @media screen and (max-width:1600px) {
        margin-bottom: 250px;
        .blogsWrapper{
            .secHeading{width: 43%;
                h2{line-height: 64px;}
                p{line-height: 28px;margin-top: 14px;}
            }
            .blogsBoxes{
                .blogsinnerBoxes{margin-top: 120px;
                    &:hover{
                       .blogDetails{padding: 50px 70px;}
                       h3{margin-bottom: 35px;}
                       .blogArrowimg{bottom: 40px;}
                    }
                &:nth-child(even){margin-top: -9%;}
                   .blogDetails{padding: 50px 45px;margin: 25px;
                        h3{line-height: 30px;margin-top: 25px;}
                        .blogArrowimg{right:40px;}
                    }                    
                }
            }
            .ctaDiv{margin-top: -9%;}
        }
    }
    @media screen and (max-width:1400px) {
        margin-bottom: 200px;
        .blogsWrapper{
            .secHeading{width: 45%;
                h2{line-height: 60px;}
                p{line-height: 26px;margin-top: 12px;}
            }
            .blogsBoxes{
                .blogsinnerBoxes{width: 43%;margin-top: 100px;
                    &:hover{
                        .blogDetails{padding: 40px 55px;}
                        h3{margin-bottom: 30px;}
                        .blogArrowimg{bottom: 30px;}
                    }
                    &:nth-child(even){margin-top: -10%;}
                    .blogDetails{padding: 40px 35px;margin: 20px;
                        h3{line-height: 28px;margin-top: 22px;}
                        .blogArrowimg{right: 30px;}
                    }
                }
            }
            .ctaDiv{.ctaWhite{width: 43%;}margin-top: -10%;}
        }
    }
    @media screen and (max-width:1200px) {
        margin-bottom: 150px;
        .blogsWrapper{
            .secHeading{
                h2{line-height: 54px;}
                p{line-height: 24px;}
            }
            .blogsBoxes{
                .blogsinnerBoxes{width: 45%;margin-top: 80px;
                    &:hover{
                        .blogDetails{padding: 30px 40px;}
                    }
                   .blogDetails{padding: 30px 25px;margin: 15px;
                        h3{line-height: 26px;margin-top: 20px;}
                    }
                }
            }
            .ctaDiv{.ctaWhite{width: 45%;}}
        }
    }
    @media screen and (max-width:1024px) {
        margin-bottom: 100px;
        .blogsWrapper{padding: 0px;
            .secHeading{width: 100%;padding: 0px 50px;
                h2{line-height: 48px;}
                p{line-height: 20px;margin-top: 8px;}
            }
            .blogsBoxes{display: block;margin: 32px 0px;
                .blogsinnerBoxes{width: unset;margin: 0px 0px 0px 55px;
                    &:hover{
                        .blogDetails{padding: 25px 20px 36px;
                            h3{margin-bottom: 0px;}
                        }
                        .blogArrowimg{bottom: unset;}
                    }
                    &:nth-child(even){margin-top: unset;}
                   .blogImg img{scale: 1;}
                    .blogDetails{padding: 25px 20px 36px;margin: 0px;
                        .blogArrowimg{display: inline-block;position: unset;padding-top: 16px;transition: none;img{height: 12px;width: 12px;}}
                    }
                }
            }
            .ctaDiv{.ctaWhite{width: auto;}margin-top: 0px;text-align: center;}
        }
    }
    @media screen and (max-width:820px) {
        .blogsWrapper{
            .blogsBoxes{
                .blogsinnerBoxes{margin: 0px 0px 0px 40px;
                }
            }
        }
    }
    @media screen and (max-width:680px) {
        margin-bottom: 150px;
        .blogsWrapper{padding: 0px;
            .secHeading{h2{font-size: 30px;line-height: 40px;}p{font-size: 14px;margin-top: 4px;}padding: 0px 20px;}
            .blogsBoxes{
                .blogsinnerBoxes{margin: 0px 10px 0px;
                    .blogImg img{scale: 1;}
                    .blogDetails{padding: 25px 20px;margin: 0px;
                        h3{font-size: 18px;line-height: 28px;margin: 10px 0px;}
                    }
                }
            }
            .ctaDiv{.ctaWhite{width: 100%;}padding: 0px 20px}
        }
    }
}


  
  
 
  
  