.banner-section{@include wrapper;
    .content-div{padding: 224px 150px 124 150px;display:flex;flex-direction:column;justify-content:center;
        .banner-heading{color: var(--primary-black, #000);font-family: $fontpoppins;@include font64;font-weight: $fontW500;line-height: 74px;letter-spacing: -1.92px;width: 50%;margin-bottom:34px;}
        .banner-subheading{color: var(--primary-black, #000);font-family: $fontpoppins;@include font24;font-weight: $fontW400;line-height: 34px;}
    }
// ----------------------------------------media queries-----------------------------------------------//
@media all and (max-width:1800px){ 
    .content-div{padding: 210px 140px 120px 140px;
        .banner-heading{line-height: 70px;letter-spacing: -1.50px;width: 50%;margin-bottom:30px;}
        .banner-subheading{line-height: 30px;}
    }
}
@media all and (max-width:1600px){
    .content-div{padding: 200px 130px 110px 130px;
        .banner-heading{line-height: 60px;letter-spacing: -1.20px;width: 50%;margin-bottom:26px;}
        .banner-subheading{line-height: 26px;}
    }
}
@media all and (max-width:1400px){
    .content-div{padding: 180px 120px 100px 120px;
        .banner-heading{line-height: 56px;letter-spacing: -1px;width: 55%;margin-bottom:24px;}
        .banner-subheading{line-height: 24px;}
    }
}
@media all and (max-width:1200px){
    .content-div{
        .banner-heading{line-height: 52px;margin-bottom:22px;}
        .banner-subheading{line-height: 22px;}
    }
}
@media all and (max-width:1024px){
    .content-div{padding: 180px 0px 80px 0px;display:block;
        .banner-heading{line-height: 48px;width: 100%;margin-bottom:20px;}
        .banner-subheading{line-height: 20px;}
    }
}
@media all and (max-width:680px){
    .content-div{padding: 100px 0px 60px 0px;
        .banner-heading{font-size: 30px;font-weight: 500;line-height: 40px;letter-spacing: -0.9px;}
        .banner-subheading{font-size: 14px;font-weight: 400;line-height: 24px; }
    }
}
}
.service-container{position:sticky;top:0px;width: 100%;z-index: 1;background: #F1F1F1;
    .filterSec{display: block;overflow-x: auto;
        &::-webkit-scrollbar {display: none;}
        &::-webkit-scrollbar-track{display: none;}
        &::-webkit-scrollbar-thumb{display: none;}
        .filter-wrapper{width: max-content;padding:30px 0px;@include wrapper;
            a{display: inline-block;color:#000;text-decoration:none;font-family: $fontpoppins;@include font14;font-weight: $fontW500;line-height: 14px;letter-spacing: 0.7px;text-transform: uppercase;&:not(:last-child){margin-right: 48px;}
                &.active{font-weight: $fontW700;border: 1px solid #000;border-radius: 6px;padding:24px 48px;}
            }
        }
// ----------------------------------------media queries-----------------------------------------------//
        @media all and (max-width:1600px){
            .filter-wrapper {padding:22px 0px;@include wrapper;
                a {&:not(:last-child){margin-right: 40px;}
                    &.active{padding: 22px 44px;}                
                }
            }
        }
        @media all and (max-width:1400px){
            .filter-wrapper {padding:20px 0px;@include wrapper;
             a {&:not(:last-child){margin-right: 36px;} &.active{padding: 20px 40px;}}
            }
        }
        @media all and (max-width:1200px){
            .filter-wrapper {padding:18px 0px;@include wrapper;
                a {&:not(:last-child){margin-right: 30px;} &.active{padding: 18px 36px;}}
            }
        }
        @media all and (max-width:1024px){
            .filter-wrapper {@include wrapper;
                a {&.active{padding: 16px 32px;}}
            }
        }
        @media all and (max-width:680px){
            .filter-wrapper {
                a{font-size: 12px;font-weight: 500;line-height: 14px;letter-spacing: 0.6px;&.active{padding:20px 25px;}}
            }
        }
    }
}
.serviceSec{position: relative;@include wrapper;
    .servicesec-wrapper{background: #000000;padding: 0px 74px 0px 50px;display: flex;justify-content: space-between;margin-bottom:60px;
        .servicesec-heading{width:45%;}
        .servicesec-content{width:45%;padding:100px 0px 160px 0px;
            .services-info{
                .subheading{padding-bottom: 54px;color: var(--primary-white, #FFF);font-family: $fontpoppins;@include font48;font-weight: $fontW500;line-height: 48px; letter-spacing: -1.44px;}
                .list-wrapper{padding: 54px 0px;border-top:1px solid #F1F1F1;   
                    .list-heading{position:relative;color: #FFF;font-family: $fontpoppins; @include font30;font-weight: $fontW400;line-height: 40px;margin-bottom: 16px;
                        span{position: absolute;top:0px;left: -60px;width: 36px;height: 36px;background: #F1F1F1;color: #000;text-align: center;font-family: $fontpoppins;@include font16;font-weight: $fontW700;line-height: 20px;border-radius: 50%;display: flex;align-items: center;justify-content: center;}
                    }
                    .services-list{padding-left:23px;
                        li{position: relative;font-family: $fontpoppins;@include font18;font-weight: $fontW400;line-height: 30px;color: #C9C9C9;&::before{content: '';position: absolute;width: 6px;height: 6px;color:  #C9C9C9;top: 10px;left: -23px;border-radius: 50%;text-align: center;background-color: #D4D4D4;}}
                    }
                }
            }
        }
    }
// ----------------------------------------media queries-----------------------------------------------//
    @media all and (max-width:1800px){
        .servicesec-wrapper{padding: 0px 70px 0px 48px;margin-bottom:56px;
            .servicesec-content{padding:90px 0px 150px 0px;
                .services-info{ 
                    .subheading{padding-bottom: 50px;line-height: 44px; letter-spacing: -1.20px;}
                    .list-wrapper{padding: 50px 0px;  
                        .list-heading{line-height: 36px;margin-bottom: 15px;
                            span{left: -60px;width: 34px;height: 34px;text-align: center;line-height: 18px;}
                        }
                        .services-list{padding-left:22px;
                            li{line-height: 28px;&::before{top: 10px;left: -22px;}}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1600px){
    }
    @media all and (max-width:1400px){
        .servicesec-wrapper{padding: 0px 60px 0px 40px;margin-bottom:56px;
            .servicesec-content{padding:80px 0px 140px 0px;
                .services-info{ 
                    .subheading{padding-bottom: 45px;line-height: 40px; letter-spacing: -1.20px;}
                    .list-wrapper{padding: 45px 0px;  
                        .list-heading{line-height: 32px;margin-bottom: 14px;
                            span{width: 32px;height: 32px;line-height: 16px;}
                        }
                        .services-list{padding-left:20px;
                            li{line-height: 26px;&::before{width:5px;height:5px;top: 10px;left: -20px;}}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1200px){
        .servicesec-wrapper{padding: 0px 50px 0px 40px;margin-bottom:56px;
            .servicesec-content{padding:70px 0px 130px 0px;
                .services-info{ 
                    .subheading{padding-bottom: 40px;line-height: 36px; letter-spacing: -1.20px;}
                    .list-wrapper{padding: 40px 0px;  
                        .list-heading{line-height: 28px;margin-bottom: 12px;}
                        .services-list{padding-left:20px;
                            li{line-height: 24px;&::before{top: 10px;left: -20px;}}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:1024px){
        .servicesec-wrapper{padding: 0px 40px 0px 20px;margin-bottom:56px;
            .servicesec-content{padding:60px 0px 120px 0px;
                .services-info{ 
                    .subheading{padding-bottom: 36px;line-height: 36px; letter-spacing: -1.20px;}
                    .list-wrapper{padding: 36px 0px;  
                        .list-heading{line-height: 24px;margin-bottom: 12px;}
                        .services-list{padding-left:18px;
                            li{line-height: 22px;&::before{top: 8px;left: -18px;}}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:768px){
        .servicesec-wrapper{padding: 0px 30px 0px 30px;margin-bottom:48px;display:block;
            .servicesec-heading{width:70%;}
            .servicesec-content{padding:40px 0px 80px 28px;width:100%;
                .services-info{ 
                    .subheading{padding-bottom: 34px;line-height: 34px;letter-spacing: -0.72px;}
                    .list-wrapper{padding: 30px 0px;  
                        .list-heading{line-height: 30px;margin-bottom: 14px;
                            span{width: 24px;height: 24px;left: -40px;}}
                        .services-list{padding-left:16px;
                            li{line-height: 26px;letter-spacing: -0.42px;&::before{left: -16px;}}
                        }
                    }
                }
            }
        }
    }
    @media all and (max-width:680px){
        padding-left: 0px;padding-right:0px;
        .servicesec-wrapper{padding: 0px 24px 0px 24px;margin-bottom:24px;
            .servicesec-content{padding:30px 0px 60px 28px;
                .services-info{ 
                    .subheading{padding-bottom: 32px;font-size: 24px;font-weight: 500;line-height: 34px;letter-spacing: -0.72px;}
                    .list-wrapper{padding: 20px 0px;  
                        .list-heading{font-size: 20px;font-weight: 400;line-height: 30px;margin-bottom: 12px;}
                        .services-list{padding-left:15px;
                            li{font-size: 14px;font-weight: 400;line-height: 26px;letter-spacing: -0.42px;&::before{left: -15px;}}
                        }
                    }
                }
            }
        }
    }
}
.collaborate-section{@include wrapper;margin-bottom:60px;
    .collaborate-wrapper{display: flex;padding:130px 150px 140px 150px;background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(125deg, #F00 0%, #FAFF00 16.15%, #05FB00 32.29%, #00FFE0 51.56%, #0029FF 68.75%, #FF00D6 84.9%, #F00 100%);backdrop-filter: blur(250px);
        .left-content{width: 55%;
            h2{color: var(--primary-black, #000);font-family: $fontpoppins;@include font64;font-weight: $fontW500;line-height: 74px; letter-spacing: -1.92px;margin-bottom:34px;}
            p{color: var(--primary-black, #000);font-family: $fontpoppins;@include font24;font-weight: $fontW400;line-height: 34px;}}
        .middle-content{width: 25%;}
        .right-content{width: 20%;display:flex;align-items:end;
            a{padding: 14px 24px;border-radius: 6px;background: var(--primary-black, #000); color: #FFF;text-align: center;font-family: $fontpoppins;@include font14;font-weight: $fontW700;line-height: 18px;letter-spacing: 0.7px;text-transform: uppercase;}
        }
    }
// ----------------------------------------media queries-----------------------------------------------//    
@media all and (max-width:1800px){ 
    .collaborate-wrapper{padding:120px 140px 130px 140px;
        .left-content{width: 55%;
            h2{line-height: 70px; letter-spacing: -1.50px;margin-bottom:30px;}
            p{line-height: 30px;}}
        .middle-content{width: 25%;}
        .right-content{width: 20%;
            a{padding: 12px 22px;line-height: 18px;letter-spacing: 0.7px;}
        }
    }
}
@media all and (max-width:1600px){
    .collaborate-wrapper{padding:110px 130px 120px 130px;
        .left-content{width: 55%;
            h2{line-height: 64px; letter-spacing: -1px;margin-bottom:26px;}
            p{line-height: 28px;}}
        .middle-content{width: 25%;}
        .right-content{width: 20%;
            a{padding: 12px 22px;line-height: 16px;letter-spacing: 0.7px;}
        }
    }
}
@media all and (max-width:1400px){
    .collaborate-wrapper{padding:100px 120px 110px 120px;
        .left-content{width: 55%;
            h2{line-height: 60px; letter-spacing: -1px;margin-bottom:24px;}
            p{line-height: 24px;}}
        .middle-content{width: 25%;}
        .right-content{width: 20%;
            a{padding: 10px 20px;line-height: 14px;letter-spacing: 0.5px;}
        }
    }
}
@media all and (max-width:1200px){
    .collaborate-wrapper{
        .left-content{
            h2{line-height: 54px; letter-spacing: -1px;margin-bottom:22px;}
            p{line-height: 22px;}}
    }
}
@media all and (max-width:1024px){
    margin-bottom:150px;
    .collaborate-wrapper{flex-direction:column;align-items:center;padding:80px 24px 90px 24px;
        .left-content{width: 100%;
            h2{line-height: 48px; letter-spacing: -1px;margin-bottom:20px;}
            p{line-height: 20px;}}
        .middle-content{width: 100%;display: contents;}
        .right-content{display: none;}
    }
}

@media all and (max-width:680px){
    padding-left: 0px;padding-right:0px;
    .collaborate-wrapper{padding:40px 24px 60px 24px;
        .left-content{
            h2{font-size: 30px;font-weight: 500;line-height: 40px;letter-spacing: -0.9px;margin-bottom:20px;}
            p{font-size: 14px;font-weight: 400;line-height: 24px;}}
        .middle-content{width: 100%;}
        .right-content{display: none;}
    }
}
}
a.showMore,a.showLess {margin-top: 54px;padding: 15px 0px;text-align: center;display: block;line-height: 24px;font-family: $fontpoppins;@include font14;font-weight: $fontW700;line-height: 18px;letter-spacing: 0.7px;text-transform: uppercase;border:1px solid #fff;border-radius:6px;color:#fff;
    &::after {content: 'SHOW MORE';}
// ----------------------------------------media queries-----------------------------------------------//
    @media all and (max-width:1800px){margin-top: 50px;}
    @media all and (max-width:1600px){padding: 14px 0px;line-height: 16px;}
    @media all and (max-width:1400px){margin-top: 45px;padding: 13px 0px;line-height: 14px;}
    @media all and (max-width:1200px){margin-top: 40px;padding: 12px 0px;line-height: 12px;}
    @media all and (max-width:1024px){margin-top: 30px;}
    @media all and (max-width:680px){margin-top: 20px;}
}
a.showLess{ &::after {content: 'SHOW LESS';}}
